.postlist {
  --postlist-whitespace: var(--global-whitespace-xs);
  --postlist-inline-whitespace: var(--global-whitespace-xs);
}

.postlist__link {
  position: relative;
  display: flex;
  gap: 0 var(--postlist-inline-whitespace);
  font-family: var(--global-font-family-title);
  flex-direction: column;
  text-decoration: none;
  border-radius: var(--global-borderRadius-lg);

  &:hover .postlist__title {
    color: var(--global-meta-color);
  }
}

.postlist__title {
  text-decoration: none;
  transition: inherit;
}

.postlist__meta {
  text-decoration: none;
  color: var(--global-meta-color);
  /* text wrap no wrap and an ellipsis if overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postlist__item + .postlist__item {
  padding-top: var(--global-whitespace-xs);
}

.postlist__link--active:any-link {
  color: var(--global-meta-color);
}

.postlist__link--active::before {
  content: "";
  width: var(--global-whitespace-3xs);
  aspect-ratio: 1 / 1;
  background-color: var(--global-accent-color);
  border-radius: 100%;
  position: absolute;
  left: calc(-1 * var(--global-whitespace-xs));
  top: var(--global-whitespace-2xs);
}

.postlist__image {
  & img {
    object-fit: cover;
    border-radius: 100%;
    width: calc(var(--global-whitespace-xl) * 1);
    aspect-ratio: 1;
  }
}

.postlist__item--project .postlist__link {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "image title" "image description";
}

.postlist__item--project .postlist__image {
  grid-area: image;
}

.postlist__item--project .postlist__title {
  grid-area: title;
}

.postlist__item--project .postlist__meta {
  grid-area: description;
}

.postlist__image--playing {
  /* animation: turntable 1s ease 0 infinite; */
  animation-name: turntable;
  animation-duration: 1.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.postlist__image--record {
  display: grid;
  place-items: center;

  &::before,
  & img {
    grid-column: 1;
    grid-row: 1;
  }

  &::before {
    content: "";
    /* width: 0.1875rem; */
    width: 0.25rem;
    aspect-ratio: 1;
    background-color: var(--global-backgroundColor);
    border-radius: 100%;
    z-index: 1;
  }
}

@keyframes turntable {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
