<h2>Colors</h2>

<div class="colors colors--10">
  <div class="color color-global-cyan-50"></div>
  <div class="color color-global-cyan-100"></div>
  <div class="color color-global-cyan-200"></div>
  <div class="color color-global-cyan-300"></div>
  <div class="color color-global-cyan-400"></div>
  <div class="color color-global-cyan-500"></div>
  <div class="color color-global-cyan-600"></div>
  <div class="color color-global-cyan-700"></div>
  <div class="color color-global-cyan-800"></div>
  <div class="color color-global-cyan-900"></div>
</div>
<div class="colors colors--10">
  <div class="color color-global-niagara-100"></div>
  <div class="color color-global-niagara-200"></div>
  <div class="color color-global-niagara-300"></div>
  <div class="color color-global-niagara-400"></div>
  <div class="color color-global-niagara-500"></div>
  <div class="color color-global-niagara-600"></div>
  <div class="color color-global-niagara-700"></div>
  <div class="color color-global-niagara-800"></div>
  <div class="color color-global-niagara-900"></div>
</div>

<div class="colors colors--10 grayscale">
  <div class="color color-global-cyan-50"></div>
  <div class="color color-global-cyan-100"></div>
  <div class="color color-global-cyan-200"></div>
  <div class="color color-global-cyan-300"></div>
  <div class="color color-global-cyan-400"></div>
  <div class="color color-global-cyan-500"></div>
  <div class="color color-global-cyan-600"></div>
  <div class="color color-global-cyan-700"></div>
  <div class="color color-global-cyan-800"></div>
  <div class="color color-global-cyan-900"></div>
</div>

<div class="text-colors">
  <div class="text-color-global-pink">Test</div>
  <div class="text-color-global-purple">Test</div>
  <div class="text-color-global-violet">Test</div>
  <div class="text-color-global-indigo">Test</div>
  <div class="text-color-global-blue">Test</div>
  <div class="text-color-global-cyan">Test</div>
  <div class="text-color-global-teal">Test</div>
</div>
<div class="text-colors dark">
  <div class="text-color-global-pink">Test</div>
  <div class="text-color-global-purple">Test</div>
  <div class="text-color-global-violet">Test</div>
  <div class="text-color-global-indigo">Test</div>
  <div class="text-color-global-blue">Test</div>
  <div class="text-color-global-cyan">Test</div>
  <div class="text-color-global-teal">Test</div>
</div>

<style>
  .text-color-global-cyan {
    color: var(--global-color-cyan-800);
  }

  .dark .text-color-global-indigo {
    color: var(--global-color-indigo-400);
  }

  .colors {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  .color {
    aspect-ratio: 1/1;
  }

  .color-global-cyan-50 {
    background-color: var(--global-color-cyan-50);
  }

  .color-global-cyan-100 {
    background-color: var(--global-color-cyan-100);
  }

  .color-global-cyan-200 {
    background-color: var(--global-color-cyan-200);
  }

  .color-global-cyan-300 {
    background-color: var(--global-color-cyan-300);
  }

  .color-global-cyan-400 {
    background-color: var(--global-color-cyan-400);
  }

  .color-global-cyan-500 {
    background-color: var(--global-color-cyan-500);
  }

  .color-global-cyan-600 {
    background-color: var(--global-color-cyan-600);
  }

  .color-global-cyan-700 {
    background-color: var(--global-color-cyan-700);
  }

  .color-global-cyan-800 {
    background-color: var(--global-color-cyan-800);
  }

  .color-global-cyan-900 {
    background-color: var(--global-color-cyan-900);
  }

  .color-global-niagara-50 {
    background-color: var(--global-color-niagara-50);
  }

  .color-global-niagara-100 {
    background-color: var(--global-color-niagara-100);
  }

  .color-global-niagara-200 {
    background-color: var(--global-color-niagara-200);
  }

  .color-global-niagara-300 {
    background-color: var(--global-color-niagara-300);
  }

  .color-global-niagara-400 {
    background-color: var(--global-color-niagara-400);
  }

  .color-global-niagara-500 {
    background-color: var(--global-color-niagara-500);
  }

  .color-global-niagara-600 {
    background-color: var(--global-color-niagara-600);
  }

  .color-global-niagara-700 {
    background-color: var(--global-color-niagara-700);
  }

  .color-global-niagara-800 {
    background-color: var(--global-color-niagara-800);
  }

  .color-global-niagara-900 {
    background-color: var(--global-color-niagara-900);
  }

  .grayscale .color {
    filter: grayscale(100%);
  }

  .text-colors {
    padding: var(--global-whitespace);
    background-color: var(--global-foregroundColor);
  }
</style>
