<div class="colors colors--10">
  <div class="color color-global-pink-50"></div>
  <div class="color color-global-pink-100"></div>
  <div class="color color-global-pink-200"></div>
  <div class="color color-global-pink-300"></div>
  <div class="color color-global-pink-400"></div>
  <div class="color color-global-pink-500"></div>
  <div class="color color-global-pink-600"></div>
  <div class="color color-global-pink-700"></div>
  <div class="color color-global-pink-800"></div>
  <div class="color color-global-pink-900"></div>

  <div class="color color-global-purple-50"></div>
  <div class="color color-global-purple-100"></div>
  <div class="color color-global-purple-200"></div>
  <div class="color color-global-purple-300"></div>
  <div class="color color-global-purple-400"></div>
  <div class="color color-global-purple-500"></div>
  <div class="color color-global-purple-600"></div>
  <div class="color color-global-purple-700"></div>
  <div class="color color-global-purple-800"></div>
  <div class="color color-global-purple-900"></div>

  <div class="color color-global-violet-50"></div>
  <div class="color color-global-violet-100"></div>
  <div class="color color-global-violet-200"></div>
  <div class="color color-global-violet-300"></div>
  <div class="color color-global-violet-400"></div>
  <div class="color color-global-violet-500"></div>
  <div class="color color-global-violet-600"></div>
  <div class="color color-global-violet-700"></div>
  <div class="color color-global-violet-800"></div>
  <div class="color color-global-violet-900"></div>

  <div class="color color-global-indigo-50"></div>
  <div class="color color-global-indigo-100"></div>
  <div class="color color-global-indigo-200"></div>
  <div class="color color-global-indigo-300"></div>
  <div class="color color-global-indigo-400"></div>
  <div class="color color-global-indigo-500"></div>
  <div class="color color-global-indigo-600"></div>
  <div class="color color-global-indigo-700"></div>
  <div class="color color-global-indigo-800"></div>
  <div class="color color-global-indigo-900"></div>

  <div class="color color-global-blue-50"></div>
  <div class="color color-global-blue-100"></div>
  <div class="color color-global-blue-200"></div>
  <div class="color color-global-blue-300"></div>
  <div class="color color-global-blue-400"></div>
  <div class="color color-global-blue-500"></div>
  <div class="color color-global-blue-600"></div>
  <div class="color color-global-blue-700"></div>
  <div class="color color-global-blue-800"></div>
  <div class="color color-global-blue-900"></div>

  <div class="color color-global-cyan-50"></div>
  <div class="color color-global-cyan-100"></div>
  <div class="color color-global-cyan-200"></div>
  <div class="color color-global-cyan-300"></div>
  <div class="color color-global-cyan-400"></div>
  <div class="color color-global-cyan-500"></div>
  <div class="color color-global-cyan-600"></div>
  <div class="color color-global-cyan-700"></div>
  <div class="color color-global-cyan-800"></div>
  <div class="color color-global-cyan-900"></div>

  <div class="color color-global-teal-50"></div>
  <div class="color color-global-teal-100"></div>
  <div class="color color-global-teal-200"></div>
  <div class="color color-global-teal-300"></div>
  <div class="color color-global-teal-400"></div>
  <div class="color color-global-teal-500"></div>
  <div class="color color-global-teal-600"></div>
  <div class="color color-global-teal-700"></div>
  <div class="color color-global-teal-800"></div>
  <div class="color color-global-teal-900"></div>
</div>

<div class="colors colors--10 grayscale">
  <div class="color color-global-pink-50"></div>
  <div class="color color-global-pink-100"></div>
  <div class="color color-global-pink-200"></div>
  <div class="color color-global-pink-300"></div>
  <div class="color color-global-pink-400"></div>
  <div class="color color-global-pink-500"></div>
  <div class="color color-global-pink-600"></div>
  <div class="color color-global-pink-700"></div>
  <div class="color color-global-pink-800"></div>
  <div class="color color-global-pink-900"></div>

  <div class="color color-global-purple-50"></div>
  <div class="color color-global-purple-100"></div>
  <div class="color color-global-purple-200"></div>
  <div class="color color-global-purple-300"></div>
  <div class="color color-global-purple-400"></div>
  <div class="color color-global-purple-500"></div>
  <div class="color color-global-purple-600"></div>
  <div class="color color-global-purple-700"></div>
  <div class="color color-global-purple-800"></div>
  <div class="color color-global-purple-900"></div>

  <div class="color color-global-violet-50"></div>
  <div class="color color-global-violet-100"></div>
  <div class="color color-global-violet-200"></div>
  <div class="color color-global-violet-300"></div>
  <div class="color color-global-violet-400"></div>
  <div class="color color-global-violet-500"></div>
  <div class="color color-global-violet-600"></div>
  <div class="color color-global-violet-700"></div>
  <div class="color color-global-violet-800"></div>
  <div class="color color-global-violet-900"></div>

  <div class="color color-global-indigo-50"></div>
  <div class="color color-global-indigo-100"></div>
  <div class="color color-global-indigo-200"></div>
  <div class="color color-global-indigo-300"></div>
  <div class="color color-global-indigo-400"></div>
  <div class="color color-global-indigo-500"></div>
  <div class="color color-global-indigo-600"></div>
  <div class="color color-global-indigo-700"></div>
  <div class="color color-global-indigo-800"></div>
  <div class="color color-global-indigo-900"></div>

  <div class="color color-global-blue-50"></div>
  <div class="color color-global-blue-100"></div>
  <div class="color color-global-blue-200"></div>
  <div class="color color-global-blue-300"></div>
  <div class="color color-global-blue-400"></div>
  <div class="color color-global-blue-500"></div>
  <div class="color color-global-blue-600"></div>
  <div class="color color-global-blue-700"></div>
  <div class="color color-global-blue-800"></div>
  <div class="color color-global-blue-900"></div>

  <div class="color color-global-cyan-50"></div>
  <div class="color color-global-cyan-100"></div>
  <div class="color color-global-cyan-200"></div>
  <div class="color color-global-cyan-300"></div>
  <div class="color color-global-cyan-400"></div>
  <div class="color color-global-cyan-500"></div>
  <div class="color color-global-cyan-600"></div>
  <div class="color color-global-cyan-700"></div>
  <div class="color color-global-cyan-800"></div>
  <div class="color color-global-cyan-900"></div>

  <div class="color color-global-teal-50"></div>
  <div class="color color-global-teal-100"></div>
  <div class="color color-global-teal-200"></div>
  <div class="color color-global-teal-300"></div>
  <div class="color color-global-teal-400"></div>
  <div class="color color-global-teal-500"></div>
  <div class="color color-global-teal-600"></div>
  <div class="color color-global-teal-700"></div>
  <div class="color color-global-teal-800"></div>
  <div class="color color-global-teal-900"></div>
</div>

<div class="text-colors">
  <div class="text-color-global-pink">Test</div>
  <div class="text-color-global-purple">Test</div>
  <div class="text-color-global-violet">Test</div>
  <div class="text-color-global-indigo">Test</div>
  <div class="text-color-global-blue">Test</div>
  <div class="text-color-global-cyan">Test</div>
  <div class="text-color-global-teal">Test</div>
</div>
<div class="text-colors dark">
  <div class="text-color-global-pink">Test</div>
  <div class="text-color-global-purple">Test</div>
  <div class="text-color-global-violet">Test</div>
  <div class="text-color-global-indigo">Test</div>
  <div class="text-color-global-blue">Test</div>
  <div class="text-color-global-cyan">Test</div>
  <div class="text-color-global-teal">Test</div>
</div>

<style>
  .text-color-global-pink {
    color: var(--global-color-pink-500);
  }

  .text-color-global-purple {
    color: var(--global-color-purple-500);
  }

  .text-color-global-violet {
    color: var(--global-color-violet-500);
  }

  .text-color-global-indigo {
    color: var(--global-color-indigo-500);
  }

  .text-color-global-blue {
    color: var(--global-color-blue-600);
  }

  .text-color-global-cyan {
    color: var(--global-color-cyan-800);
  }

  .text-color-global-teal {
    color: var(--global-color-teal-800);
  }

  .dark .text-color-global-violet {
    color: var(--global-color-violet-400);
  }

  .dark .text-color-global-indigo {
    color: var(--global-color-indigo-400);
  }

  .colors {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  .color {
    aspect-ratio: 1/1;
  }

  .color-global-pink-50 {
    background-color: var(--global-color-pink-50);
  }

  .color-global-pink-100 {
    background-color: var(--global-color-pink-100);
  }

  .color-global-pink-200 {
    background-color: var(--global-color-pink-200);
  }

  .color-global-pink-300 {
    background-color: var(--global-color-pink-300);
  }

  .color-global-pink-400 {
    background-color: var(--global-color-pink-400);
  }

  .color-global-pink-500 {
    background-color: var(--global-color-pink-500);
  }

  .color-global-pink-600 {
    background-color: var(--global-color-pink-600);
  }

  .color-global-pink-700 {
    background-color: var(--global-color-pink-700);
  }

  .color-global-pink-800 {
    background-color: var(--global-color-pink-800);
  }

  .color-global-pink-900 {
    background-color: var(--global-color-pink-900);
  }

  .color-global-pink-1000 {
    background-color: var(--global-color-pink-1000);
  }

  .color-global-pink-1100 {
    background-color: var(--global-color-pink-1100);
  }

  .color-global-pink-1200 {
    background-color: var(--global-color-pink-1200);
  }

  .color-global-purple-50 {
    background-color: var(--global-color-purple-50);
  }

  .color-global-purple-100 {
    background-color: var(--global-color-purple-100);
  }

  .color-global-purple-200 {
    background-color: var(--global-color-purple-200);
  }

  .color-global-purple-300 {
    background-color: var(--global-color-purple-300);
  }

  .color-global-purple-400 {
    background-color: var(--global-color-purple-400);
  }

  .color-global-purple-500 {
    background-color: var(--global-color-purple-500);
  }

  .color-global-purple-600 {
    background-color: var(--global-color-purple-600);
  }

  .color-global-purple-700 {
    background-color: var(--global-color-purple-700);
  }

  .color-global-purple-800 {
    background-color: var(--global-color-purple-800);
  }

  .color-global-purple-900 {
    background-color: var(--global-color-purple-900);
  }

  .color-global-violet-50 {
    background-color: var(--global-color-violet-50);
  }

  .color-global-violet-100 {
    background-color: var(--global-color-violet-100);
  }

  .color-global-violet-200 {
    background-color: var(--global-color-violet-200);
  }

  .color-global-violet-300 {
    background-color: var(--global-color-violet-300);
  }

  .color-global-violet-400 {
    background-color: var(--global-color-violet-400);
  }

  .color-global-violet-500 {
    background-color: var(--global-color-violet-500);
  }

  .color-global-violet-600 {
    background-color: var(--global-color-violet-600);
  }

  .color-global-violet-700 {
    background-color: var(--global-color-violet-700);
  }

  .color-global-violet-800 {
    background-color: var(--global-color-violet-800);
  }

  .color-global-violet-900 {
    background-color: var(--global-color-violet-900);
  }

  .color-global-indigo-50 {
    background-color: var(--global-color-indigo-50);
  }

  .color-global-indigo-100 {
    background-color: var(--global-color-indigo-100);
  }

  .color-global-indigo-200 {
    background-color: var(--global-color-indigo-200);
  }

  .color-global-indigo-300 {
    background-color: var(--global-color-indigo-300);
  }

  .color-global-indigo-400 {
    background-color: var(--global-color-indigo-400);
  }

  .color-global-indigo-500 {
    background-color: var(--global-color-indigo-500);
  }

  .color-global-indigo-600 {
    background-color: var(--global-color-indigo-600);
  }

  .color-global-indigo-700 {
    background-color: var(--global-color-indigo-700);
  }

  .color-global-indigo-800 {
    background-color: var(--global-color-indigo-800);
  }

  .color-global-indigo-900 {
    background-color: var(--global-color-indigo-900);
  }

  .color-global-blue-50 {
    background-color: var(--global-color-blue-50);
  }

  .color-global-blue-100 {
    background-color: var(--global-color-blue-100);
  }

  .color-global-blue-200 {
    background-color: var(--global-color-blue-200);
  }

  .color-global-blue-300 {
    background-color: var(--global-color-blue-300);
  }

  .color-global-blue-400 {
    background-color: var(--global-color-blue-400);
  }

  .color-global-blue-500 {
    background-color: var(--global-color-blue-500);
  }

  .color-global-blue-600 {
    background-color: var(--global-color-blue-600);
  }

  .color-global-blue-700 {
    background-color: var(--global-color-blue-700);
  }

  .color-global-blue-800 {
    background-color: var(--global-color-blue-800);
  }

  .color-global-blue-900 {
    background-color: var(--global-color-blue-900);
  }

  .color-global-cyan-50 {
    background-color: var(--global-color-cyan-50);
  }

  .color-global-cyan-100 {
    background-color: var(--global-color-cyan-100);
  }

  .color-global-cyan-200 {
    background-color: var(--global-color-cyan-200);
  }

  .color-global-cyan-300 {
    background-color: var(--global-color-cyan-300);
  }

  .color-global-cyan-400 {
    background-color: var(--global-color-cyan-400);
  }

  .color-global-cyan-500 {
    background-color: var(--global-color-cyan-500);
  }

  .color-global-cyan-600 {
    background-color: var(--global-color-cyan-600);
  }

  .color-global-cyan-700 {
    background-color: var(--global-color-cyan-700);
  }

  .color-global-cyan-800 {
    background-color: var(--global-color-cyan-800);
  }

  .color-global-cyan-900 {
    background-color: var(--global-color-cyan-900);
  }

  .color-global-teal-50 {
    background-color: var(--global-color-teal-50);
  }

  .color-global-teal-100 {
    background-color: var(--global-color-teal-100);
  }

  .color-global-teal-200 {
    background-color: var(--global-color-teal-200);
  }

  .color-global-teal-300 {
    background-color: var(--global-color-teal-300);
  }

  .color-global-teal-400 {
    background-color: var(--global-color-teal-400);
  }

  .color-global-teal-500 {
    background-color: var(--global-color-teal-500);
  }

  .color-global-teal-600 {
    background-color: var(--global-color-teal-600);
  }

  .color-global-teal-700 {
    background-color: var(--global-color-teal-700);
  }

  .color-global-teal-800 {
    background-color: var(--global-color-teal-800);
  }

  .color-global-teal-900 {
    background-color: var(--global-color-teal-900);
  }

  .grayscale .color {
    filter: grayscale(100%);
  }

  .text-colors {
    padding: var(--global-whitespace);
    background-color: var(--global-foregroundColor);
  }
</style>
