---
import { SITE_ATHOUR } from "../../config";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Blogposts from "../../components/Blogposts.astro";

const title = "Blog";
const description = "All articles by " + SITE_ATHOUR;
---

<BaseLayout title={title} description={description}>

      <Header
        headerTitle="Blog"
        headerMeta="All articles"
        headerType="home"
      />
      <main class="row row--main">
        <div class="container flow">
          <Blogposts hideHeading={true} />
        </div>
      </main>

</BaseLayout>