---
import "../../../styles/demos/customCursor/styles.css";
---

<div class="demo">
  <div class="demo__header">
    <h2 class="demo__title">Basic demo</h2>
  </div>
  <div class="demo__elements">
    <a href="#!" class="demo__link">Link</a>
    <button class="demo__button">Button</button>
  </div>
</div>
