---
import "../../../styles/demos/customCursor/styles.css";
---

<div class="demo">
  <div class="demo__header">
    <h2 class="demo__title">Advanced demo</h2>
  </div>
  <div class="demo__elements">
    <a href="#!" class="demo__button">Default</a>

    <a href="#!" class="demo__button cursor-read">Word</a>

    <a href="#!" class="demo__button cursor-icon">Icon</a>
  </div>
</div>
