/*
Page
====
*/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: calc(var(--root-font-size)/16*100%);
    line-height: var(--global-line-height);
    background-color: var(--global-backgroundColor);
    font-family: var(--global-font-family-alpha);
    color: var(--global-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background-color: var(--global-selection-backgroundColor);
    color: var(--global-selection-color);
}

a:hover {
    color: var(--global-link-hover-color);
}

a:focus-visible {
    outline: 1px solid var(--global-accent-color);
    outline-offset: .2em;
}

.back-link {
    --back-link-color: var(--global-text-color);
    color: var(--back-link-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: var(--global-whitespace-2xs);
    padding: var(--global-whitespace);
    width: fit-content;
    /* margin-right: var(--global-whitespace); */
}

.back-link:hover {
    --back-link-color: var(--global-title-color);
}

.back-link .icon {
    display: inline-block;
    /* width: var(--global-whitespace-xs);
    height: var(--global-whitespace-xs); */
    width: 1rem;
    height: 1rem;
    /* width: var(--global-icon-size);
    height: var(--global-icon-size); */
    vertical-align: text-bottom;
    stroke: var(--back-link-color);
    transform: rotate(-90deg);
    stroke-linecap: round;
    stroke-width: var(--global-icon-stroke);
}

.demo-header {
    margin-bottom: var(--global-whitespace);
    display: flex;
    align-items: center;
    color: var(--global-text-color);

    * {
        --fs: var(--ms-1);
        font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
        font-weight: normal;
        line-height: calc(var(--global-baseline) * 5);
    }

    h1 {
        /* wrap text with three dots if too long */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.demo {
    padding: var(--global-whitespace);
}