/*
Fonts
=====
*/
@font-face {
    font-family: 'IA Writer Duo Web';
    src: url('../fonts/iAWriterDuoS-Regular.woff') format('woff'),
        url('../fonts/iAWriterDuoS-Regular.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Web';
    src: url('../fonts/Graphik-Regular-Web.woff') format('woff'),
        url('../fonts/Graphik-Regular-Web.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Web';
    src: url('../fonts/Graphik-Medium-Web.woff') format('woff'),
        url('../fonts/Graphik-Medium-Web.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Web';
    src: url('../fonts/Graphik-Semibold-Web.woff') format('woff'),
        url('../fonts/Graphik-Semibold-Web.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadlineWeb-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposTextWeb-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposTextWeb-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/*
Variables
=========
*/

:root {
    /* --global-color-purple-hue: 260deg;
    --global-color-purple-50: hsl(var(--global-color-purple-hue), 55%, 97.5%);
    --global-color-purple-100: hsl(var(--global-color-purple-hue), 55%, 96%);
    --global-color-purple-200: hsl(var(--global-color-purple-hue), 65%, 91%);
    --global-color-purple-300: hsl(var(--global-color-purple-hue), 85%, 84%);
    --global-color-purple-400: hsl(var(--global-color-purple-hue), 80%, 74%);
    --global-color-purple-500: hsl(var(--global-color-purple-hue), 70%, 65%);
    --global-color-purple-600: hsl(var(--global-color-purple-hue), 70%, 60%);
    --global-color-purple-700: hsl(var(--global-color-purple-hue), 70%, 54%);
    --global-color-purple-800: hsl(var(--global-color-purple-hue), 65%, 46%);
    --global-color-purple-900: hsl(var(--global-color-purple-hue), 65%, 40%); */

    --global-color-purple-hue: 290deg;
    --global-color-purple-50: oklch(95% 0.017 var(--global-color-purple-hue));
    --global-color-purple-100: oklch(89% 0.044 var(--global-color-purple-hue));
    --global-color-purple-200: oklch(83% 0.076 var(--global-color-purple-hue));
    --global-color-purple-300: oklch(76.5% 0.114 var(--global-color-purple-hue));
    --global-color-purple-400: oklch(70.5% 0.147 var(--global-color-purple-hue));
    --global-color-purple-500: oklch(64.5% 0.182 var(--global-color-purple-hue));
    --global-color-purple-600: oklch(58.5% 0.217 var(--global-color-purple-hue));
    --global-color-purple-700: oklch(52% 0.258 var(--global-color-purple-hue));
    --global-color-purple-800: oklch(46% 0.23 var(--global-color-purple-hue));
    --global-color-purple-900: oklch(39.96% 0.1998 var(--global-color-purple-hue));

    /* --global-color-violet-hue: 240deg;
    --global-color-violet-50: hsl(var(--global-color-violet-hue), 55%, 97.5%);
    --global-color-violet-100: hsl(var(--global-color-violet-hue), 55%, 96%);
    --global-color-violet-200: hsl(var(--global-color-violet-hue), 65%, 91%);
    --global-color-violet-300: hsl(var(--global-color-violet-hue), 100%, 85.5%);
    --global-color-violet-400: hsl(var(--global-color-violet-hue), 90%, 74.5%);
    --global-color-violet-500: hsl(var(--global-color-violet-hue), 85%, 68%);
    --global-color-violet-600: hsl(var(--global-color-violet-hue), 70%, 60%);
    --global-color-violet-700: hsl(var(--global-color-violet-hue), 70%, 55%);
    --global-color-violet-800: hsl(var(--global-color-violet-hue), 65%, 49%);
    --global-color-violet-900: hsl(var(--global-color-violet-hue), 65%, 25%); */

    --global-color-violet-hue: 272deg;
    --global-color-violet-50: oklch(95% 0.017 var(--global-color-violet-hue));
    --global-color-violet-100: oklch(89% 0.044 var(--global-color-violet-hue));
    --global-color-violet-200: oklch(83% 0.076 var(--global-color-violet-hue));
    --global-color-violet-300: oklch(76.5% 0.114 var(--global-color-violet-hue));
    --global-color-violet-400: oklch(70.5% 0.147 var(--global-color-violet-hue));
    --global-color-violet-500: oklch(64.5% 0.182 var(--global-color-violet-hue));
    --global-color-violet-600: oklch(58.5% 0.217 var(--global-color-violet-hue));
    --global-color-violet-700: oklch(52% 0.258 var(--global-color-violet-hue));
    --global-color-violet-800: oklch(46% 0.23 var(--global-color-violet-hue));
    --global-color-violet-900: oklch(39.96% 0.1998 var(--global-color-violet-hue));

    /* --global-color-indigo-hue: 220;
    --global-color-indigo-50: hsl(var(--global-color-indigo-hue), 55%, 97.5%);
    --global-color-indigo-100: hsl(var(--global-color-indigo-hue), 55%, 95.5%);
    --global-color-indigo-200: hsl(var(--global-color-indigo-hue), 65%, 90%);
    --global-color-indigo-300: hsl(var(--global-color-indigo-hue), 100%, 82%);
    --global-color-indigo-400: hsl(var(--global-color-indigo-hue), 100%, 71%);
    --global-color-indigo-500: hsl(var(--global-color-indigo-hue), 100%, 65%);
    --global-color-indigo-600: hsl(var(--global-color-indigo-hue), 75%, 51%);
    --global-color-indigo-700: hsl(var(--global-color-indigo-hue), 65%, 42%);
    --global-color-indigo-800: hsl(var(--global-color-indigo-hue), 65%, 35%);
    --global-color-indigo-900: hsl(var(--global-color-indigo-hue), 73%, 22%); */

    --global-color-indigo-hue: 262deg;
    --global-color-indigo-50: oklch(95% 0.017 var(--global-color-indigo-hue));
    --global-color-indigo-100: oklch(89% 0.044 var(--global-color-indigo-hue));
    --global-color-indigo-200: oklch(83% 0.076 var(--global-color-indigo-hue));
    --global-color-indigo-300: oklch(76.5% 0.114 var(--global-color-indigo-hue));
    --global-color-indigo-400: oklch(70.5% 0.147 var(--global-color-indigo-hue));
    --global-color-indigo-500: oklch(64.5% 0.182 var(--global-color-indigo-hue));
    --global-color-indigo-600: oklch(58.5% 0.217 var(--global-color-indigo-hue));
    --global-color-indigo-700: oklch(52% 0.258 var(--global-color-indigo-hue));
    --global-color-indigo-800: oklch(46% 0.23 var(--global-color-indigo-hue));
    --global-color-indigo-900: oklch(39.96% 0.1998 var(--global-color-indigo-hue));

    /* --global-color-blue-hue: 200deg;
    --global-color-blue-50: hsl(var(--global-color-blue-hue), 55%, 97.5%);
    --global-color-blue-100: hsl(var(--global-color-blue-hue), 55%, 94.5%);
    --global-color-blue-200: hsl(var(--global-color-blue-hue), 65%, 87.5%);
    --global-color-blue-300: hsl(var(--global-color-blue-hue), 85%, 74%);
    --global-color-blue-400: hsl(var(--global-color-blue-hue), 85%, 56%);
    --global-color-blue-500: hsl(var(--global-color-blue-hue), 85%, 45%);
    --global-color-blue-600: hsl(var(--global-color-blue-hue), 75%, 35%);
    --global-color-blue-700: hsl(var(--global-color-blue-hue), 75%, 30%);
    --global-color-blue-800: hsl(var(--global-color-blue-hue), 70%, 25%);
    --global-color-blue-900: hsl(var(--global-color-blue-hue), 65%, 20%); */

    --global-color-blue-hue: 234deg;
    --global-color-blue-50: oklch(95% 0.017 var(--global-color-blue-hue));
    --global-color-blue-100: oklch(89% 0.044 var(--global-color-blue-hue));
    --global-color-blue-200: oklch(83% 0.076 var(--global-color-blue-hue));
    --global-color-blue-300: oklch(76.5% 0.114 var(--global-color-blue-hue));
    --global-color-blue-400: oklch(70.5% 0.147 var(--global-color-blue-hue));
    --global-color-blue-500: oklch(66% 0.18 var(--global-color-blue-hue));
    --global-color-blue-600: oklch(58.5% 0.217 var(--global-color-blue-hue));
    --global-color-blue-700: oklch(48% 0.17 var(--global-color-blue-hue));
    --global-color-blue-800: oklch(43% 0.16 var(--global-color-blue-hue));
    --global-color-blue-900: oklch(38% 0.15 var(--global-color-blue-hue));

    /* --global-color-cyan-hue: 180deg;
    --global-color-cyan-50: hsl(var(--global-color-cyan-hue), 55%, 97.5%);
    --global-color-cyan-100: hsl(var(--global-color-cyan-hue), 55%, 94%);
    --global-color-cyan-200: hsl(var(--global-color-cyan-hue), 60%, 83%);
    --global-color-cyan-300: hsl(var(--global-color-cyan-hue), 60%, 60%);
    --global-color-cyan-400: hsl(var(--global-color-cyan-hue), 75%, 42%);
    --global-color-cyan-500: hsl(var(--global-color-cyan-hue), 85%, 34%);
    --global-color-cyan-600: hsl(var(--global-color-cyan-hue), 75%, 27%);
    --global-color-cyan-700: hsl(var(--global-color-cyan-hue), 70%, 23%);
    --global-color-cyan-800: hsl(var(--global-color-cyan-hue), 65%, 20%);
    --global-color-cyan-900: hsl(var(--global-color-cyan-hue), 65%, 15%); */

    --global-color-cyan-hue: 195deg;
    --global-color-cyan-50: oklch(95% 0.017 var(--global-color-cyan-hue));
    --global-color-cyan-100: oklch(89% 0.044 var(--global-color-cyan-hue));
    --global-color-cyan-200: oklch(83% 0.076 var(--global-color-cyan-hue));
    --global-color-cyan-300: oklch(76.5% 0.114 var(--global-color-cyan-hue));
    --global-color-cyan-400: oklch(70.5% 0.147 var(--global-color-cyan-hue));
    --global-color-cyan-500: oklch(64.5% 0.182 var(--global-color-cyan-hue));
    --global-color-cyan-600: oklch(57% 0.13 var(--global-color-cyan-hue));
    --global-color-cyan-700: oklch(48% 0.11 var(--global-color-cyan-hue));
    --global-color-cyan-800: oklch(43% 0.1 var(--global-color-cyan-hue));
    --global-color-cyan-900: oklch(38% 0.09 var(--global-color-cyan-hue));

    /* --global-color-teal-hue: 160deg;
    --global-color-teal-50: hsl(var(--global-color-teal-hue), 55%, 97.5%);
    --global-color-teal-100: hsl(var(--global-color-teal-hue), 55%, 95%);
    --global-color-teal-200: hsl(var(--global-color-teal-hue), 66%, 83%);
    --global-color-teal-300: hsl(var(--global-color-teal-hue), 70%, 60%);
    --global-color-teal-400: hsl(var(--global-color-teal-hue), 70%, 44%);
    --global-color-teal-500: hsl(var(--global-color-teal-hue), 70%, 38%);
    --global-color-teal-600: hsl(var(--global-color-teal-hue), 70%, 27%);
    --global-color-teal-700: hsl(var(--global-color-teal-hue), 70%, 24%);
    --global-color-teal-800: hsl(var(--global-color-teal-hue), 70%, 20%);
    --global-color-teal-900: hsl(var(--global-color-teal-hue), 65%, 15%); */

    --global-color-teal-hue: 166deg;
    --global-color-teal-50: oklch(95% 0.017 var(--global-color-teal-hue));
    --global-color-teal-100: oklch(89% 0.044 var(--global-color-teal-hue));
    --global-color-teal-200: oklch(83% 0.076 var(--global-color-teal-hue));
    --global-color-teal-300: oklch(76.5% 0.114 var(--global-color-teal-hue));
    --global-color-teal-400: oklch(70.5% 0.147 var(--global-color-teal-hue));
    --global-color-teal-500: oklch(64.5% 0.182 var(--global-color-teal-hue));
    --global-color-teal-600: oklch(57% 0.17 var(--global-color-teal-hue));
    --global-color-teal-700: oklch(48% 0.16 var(--global-color-teal-hue));
    --global-color-teal-800: oklch(43% 0.14 var(--global-color-teal-hue));
    --global-color-teal-900: oklch(38% 0.13 var(--global-color-teal-hue));

    --global-neutral-hue: 240deg;
    --global-neutral-saturation: 5%;

    --global-color-neutral-025: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 98.5%);
    --global-color-neutral-030: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 95%);
    --global-color-neutral-035: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 94%);
    --global-color-neutral-040: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 92%);
    --global-color-neutral-050: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 90%);
    --global-color-neutral-060: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 86.5%);
    --global-color-neutral-075: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 85%);
    --global-color-neutral-100: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 80%);
    --global-color-neutral-200: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 70%);
    --global-color-neutral-300: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 59.75%);
    --global-color-neutral-400: hsl(var(--global-neutral-hue), 7.5%, 50%);
    --global-color-neutral-500: hsl(var(--global-neutral-hue), 7.5%, 44%);
    --global-color-neutral-550: hsl(var(--global-neutral-hue), 10%, 35%);
    --global-color-neutral-600: hsl(var(--global-neutral-hue), 12.5%, 30%);
    --global-color-neutral-650: hsl(var(--global-neutral-hue), 12.5%, 25%);
    --global-color-neutral-675: hsl(var(--global-neutral-hue), 12.5%, 22.5%);
    --global-color-neutral-700: hsl(var(--global-neutral-hue), 12.5%, 20%);
    --global-color-neutral-800: hsl(var(--global-neutral-hue), 15%, 15%);
    --global-color-neutral-850: hsl(var(--global-neutral-hue), 15%, 14%);
    --global-color-neutral-900: hsl(var(--global-neutral-hue), 15%, 10%);

    --global-backgroundColor: white;
    --global-foregroundColor: var(--global-color-neutral-030);
    --global-foregroundColor2: var(--global-color-neutral-050);
    --global-text-color: var(--global-color-neutral-800);
    --global-accent-color: var(--global-color-violet-600);
    --global-title-color: var(--global-color-neutral-900);
    --global-meta-color: var(--global-color-neutral-300);
    --global-muted-color: var(--global-color-neutral-500);
    --global-borderColor: var(--global-color-neutral-050);
    --global-borderColor2: var(--global-color-neutral-060);
    --global-code-color: var(--global-color-neutral-700);
    --global-code-background: var(--global-foregroundColor);
    --global-input-borderColor: var(--global-borderColor);
    --global-input-backgroundColor: var(--global-color-neutral-050);

    --global-borderRadius: var(--global-baseline);
    --global-borderRadius-lg: calc(var(--global-borderRadius) * 2);
    --global-borderRadius-sm: calc(var(--global-borderRadius) / 2);

    --global-borderWidth: 1px;

    --global-link-color: var(--global-muted-color);
    --global-link-underline-color: var(--global-link-color);
    --global-link-hover-color: var(--global-text-color);
    --global-link-active-color: var(--global-link-color);
    --global-selection-backgroundColor: var(--global-color-violet-100);
    --global-selection-backgroundColor: var(--global-color-neutral-050);
    --global-selection-color: var(--global-text-color);

    --global-font-family-alpha: "Graphik Web", sans-serif;
    /* --global-font-family-alpha: "Moderat Trial", sans-serif; */
    /* --global-font-family-alpha: "Everett Trial", sans-serif; */
    /* --global-font-family-alpha: "FK Grotesk Neue Trial", sans-serif; */
    /* --global-font-family-alpha: "Aeonik Trial", sans-serif; */
    /* --global-font-family-alpha: "Noi Grotesk Trial", sans-serif; */
    /* --global-font-family-alpha: "Studio Feixen Sans Trial", sans-serif; */
    --global-font-family-beta: "Tiempos Text", serif;
    /* --global-font-family-beta: "Moderat Serif Trial", serif; */
    --global-font-family-title: var(--global-font-family-alpha);
    --global-font-family-code: "SFMono-Regular", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --global-font-weight-title: 500;

    --root-font-size: 16;
    --root-baseline: 5;
    --root-line-height: calc(var(--root-baseline) * 5);

    --global-line-height: calc(var(--root-line-height) / var(--root-font-size));
    --global-baseline: calc(var(--root-baseline) / var(--root-font-size) * 1rem);

    --ms-ratio: 1.125;
    --ms-2: calc(var(--ms-1) / var(--ms-ratio));
    --ms-1: calc(var(--ms-0) / var(--ms-ratio));
    --ms-0: var(--root-font-size);
    --ms1: calc(var(--ms-0) * var(--ms-ratio));
    --ms2: calc(var(--ms1) * var(--ms-ratio));
    --ms3: calc(var(--ms2) * var(--ms-ratio));
    --ms4: calc(var(--ms3) * var(--ms-ratio));
    --ms5: calc(var(--ms4) * var(--ms-ratio));
    --ms6: calc(var(--ms5) * var(--ms-ratio));
    --ms7: calc(var(--ms6) * var(--ms-ratio));
    --ms8: calc(var(--ms7) * var(--ms-ratio));

    --global-whitespace-4xs: calc(var(--global-baseline) * .5);
    --global-whitespace-3xs: calc(var(--global-baseline) * 1);
    --global-whitespace-2xs: calc(var(--global-baseline) * 2);
    --global-whitespace-xs: calc(var(--global-baseline) * 2.5);
    --global-whitespace-s: calc(var(--global-baseline) * 4);
    --global-whitespace: calc(var(--global-baseline) * 5);
    --global-whitespace-m: calc(var(--global-baseline) * 6);
    --global-whitespace-l: calc(var(--global-baseline) * 7.5);
    --global-whitespace-xl: calc(var(--global-baseline) * 10);
    --global-whitespace-2xl: calc(var(--global-baseline) * 12.5);
    --global-whitespace-3xl: calc(var(--global-baseline) * 15);
    --global-whitespace-4xl: calc(var(--global-baseline) * 20);

    --global-transition-duration-short: 0.15s;
    --global-transition-duration: 0.3s;
    --global-transition-duration-long: 0.45s;
    --global-transition-duration-longer: 0.6s;

    --global-icon-size: calc(20 / var(--root-font-size) * 1rem);
    --global-icon-stroke: 1.25px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --global-backgroundColor: var(--global-color-neutral-900);
        --global-foregroundColor: var(--global-color-neutral-850);
        --global-foregroundColor2: var(--global-color-neutral-675);
        --global-accent-color: var(--global-color-violet-500);
        --global-text-color: var(--global-color-neutral-050);
        --global-title-color: var(--global-color-neutral-025);
        --global-code-color: var(--global-color-neutral-100);
        --global-borderColor: var(--global-color-neutral-700);
        --global-borderColor2: var(--global-color-neutral-600);
        --global-meta-color: var(--global-color-neutral-400);
        --global-muted-color: var(--global-color-neutral-200);
        --global-input-backgroundColor: var(--global-color-neutral-700);
        --global-selection-backgroundColor: var(--global-color-neutral-600);
    }
}

/*
Page
====
*/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: calc(var(--root-font-size)/16*100%);
    /* font-feature-settings: "ss01", "ss02"; */
    line-height: var(--global-line-height);
    background-color: var(--global-backgroundColor);
    font-family: var(--global-font-family-alpha);
    color: var(--global-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    /* scrollbar-color: var(--global-accent-color) var(--global-backgroundColor);
    scrollbar-width: thin; */
}

/*
@media screen and (min-width: 40em) {
    html {
        font-size: calc(18/16*100%);
    }
} */

::selection {
    --selection-color: var(--global-selection-color);
    --selection-background: var(--global-selection-backgroundColor);
    background-color: var(--global-selection-backgroundColor);
    color: var(--selection-color);
}

a:any-link {
    color: var(--link-color, var(--global-link-color));
    text-decoration-thickness: 1px;
    text-underline-offset: .05em;
    text-decoration-color: var(--link-underline-color, var(--global-link-underline-color));
    transition: all .1s ease;
}

a:hover {
    color: var(--global-link-hover-color);
    text-decoration-color: var(--global-link-hover-underline-color);
}

a:focus-visible {
    outline: 1px solid var(--global-accent-color);
    outline-offset: .2em;
    border-radius: 1px;
    text-decoration: none;
}

hr {
    height: 1px;
    color: inherit;
    border: 0;
    background-color: var(--global-borderColor);
}

label {
    color: var(--global-muted-color);
    display: block;
    padding-bottom: var(--global-whitespace-3xs);
}

input,
select,
textarea {
    --input-color: var(--global-text-color);
    --input-borderColor: var(--global-input-borderColor);
    --input-backgroundColor: var(--global-input-backgroundColor);
    --input-fontSize: 16;
    --input-borderRadius: var(--global-borderRadius);
    --input-whitespace: var(--global-whitespace-2xs) var(--global-whitespace-xs);
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: calc(var(--input-fontSize) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
    padding: var(--input-whitespace);
    border: 1px solid var(--input-borderColor);
    background-color: var(--input-backgroundColor);
    color: var(--input-color);
    border-radius: var(--input-borderRadius);
}

input:focus-visible,
select:focus-visible,
button:focus-visible {
    outline: 1px solid var(--global-accent-color);
    outline-offset: 3px;
}

input:focus:not(:focus-visible),
select:focus:not(:focus-visible) {
    outline: none;
}

input:disabled,
select:disabled,
button:disabled {
    opacity: .5;
}

select {
    appearance: none;
}

button {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: inherit;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

[data-suffix] {
    display: grid;
    --suffix-color: var(--global-muted-color);
}

[data-suffix] input,
[data-suffix]::after {
    grid-column: 1 / -1;
    grid-row: 1;
}

[data-suffix] input {
    padding-right: var(--global-whitespace-l);
}

[data-suffix]::after {
    --fs: var(--ms-1);
    content: attr(data-suffix);
    justify-self: end;
    align-self: center;
    color: var(--suffix-color);
    padding-right: var(--global-whitespace-2xs);
    font-family: var(--global-font-family-code);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
}

fieldset {
    border: var(--global-borderWidth) solid var(--global-input-borderColor);
    border-radius: var(--global-borderRadius);
    padding: var(--global-whitespace-s);
}

legend {
    --fs: var(--ms0);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
    padding: 0;
    color: var(--global-muted-color);
    padding: 0 var(--global-whitespace-3xs);
    margin-left: calc(var(--global-whitespace-3xs) * -1);
}

code {
    font-family: var(--global-font-family-code);
}

code:not([class]) {
    background-color: var(--global-code-background);
    color: var(--global-code-color);
    padding: .2em .5em .3em;
    --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    border-radius: var(--global-borderRadius-sm);
}

input[type=number] {
    font-feature-settings: "tnum";
    --input-fontSize: 16;
}

input[type=range] {
    margin: var(--global-whitespace-3xs) 0;
    padding: 0;
    width: 100%;
    border: 0;
    --range-borderWidth: var(--global-borderWidth);
    --range-track-height: 1px;
    --range-track-borderRadius: var(--range-track-height);
    --range-track-backgroundColor: var(--global-borderColor2);
    --range-thumb-height: var(--global-whitespace-s);
    --range-thumb-width: var(--range-thumb-height);
    --range-thumb-borderRadius: 50%;
    --range-thumb-borderColor: var(--global-borderColor2);
    --range-thumb-borderWidth: var(--range-borderWidth);
    --range-thumb-backgroundColor: white;
    /* --range-thumb-backgroundColor: var(--global-foregroundColor); */
    /* --range-thumb-backgroundColor: var(--global-borderColor2); */
    /* --range-thumb-backgroundColor: var(--global-backgroundColor); */
    --range-thumb-pointer: ew-resize;
    --range-focus-color: var(--global-accent-color);
    appearance: none;
    background-color: transparent;
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--range-track-height);
    cursor: pointer;
    background: var(--range-track-backgroundColor);
    border-radius: var(--range-track-borderRadius);
}

input[type=range]::-webkit-slider-thumb {
    border: var(--range-thumb-borderWidth) solid var(--range-thumb-borderColor);
    height: var(--range-thumb-height);
    width: var(--range-thumb-width);
    border-radius: var(--range-thumb-borderRadius);
    background: var(--range-thumb-backgroundColor);
    cursor: var(--range-thumb-pointer);
    -webkit-appearance: none;
    margin-top: calc(var(--range-thumb-height) * -.5 + var(--range-thumb-borderWidth) / 2);
    box-shadow: var(--range-thumb-boxShadow);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: var(--range-track-height);
    cursor: var(--range-thumb-pointer);
    background: var(--range-track-backgroundColor);
    border-radius: var(--range-track-borderRadius);
}

input[type=range]::-moz-range-thumb {
    border: var(--range-thumb-borderWidth) solid var(--range-thumb-borderColor);
    height: var(--range-thumb-height);
    width: var(--range-thumb-width);
    border-radius: var(--range-thumb-borderRadius);
    background: var(--range-thumb-backgroundColor);
    cursor: var(--range-thumb-pointer);
    box-shadow: var(--range-thumb-boxShadow);
}

input[type=range]::-ms-track {
    width: 100%;
    height: var(--range-track-height);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: var(--range-track-borderRadius);
}

input[type=range]::-ms-fill-lower {
    background: var(--range-track-backgroundColor);
}

input[type=range]::-ms-fill-upper {
    background: var(--range-track-backgroundColor);
}

input[type=range]::-ms-thumb {
    margin-top: calc(var(--range-thumb-height) * -.5 + var(--range-thumb-borderWidth) / 2);
    border: var(--range-thumb-borderWidth) solid var(--range-thumb-borderColor);
    height: var(--range-thumb-height);
    width: var(--range-thumb-width);
    border-radius: var(--range-thumb-borderRadius);
    background: var(--range-thumb-backgroundColor);
    cursor: pointer;
    box-shadow: var(--range-thumb-boxShadow);
}

input[type=range]:focus-visible {
    --range-track-backgroundColor: var(--global-accent-color);
    --range-thumb-borderColor: var(--global-accent-color);
}

@media (prefers-color-scheme: dark) {
    input[type=range] {
        --range-thumb-borderColor: white;
    }

    input[type=range]:focus-visible {
        --range-thumb-borderColor: white;
    }
}

/*
Images
======
*/

img,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/*
Typography
==========
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--global-title-color);
    font-weight: var(--global-font-weight-title);
}

h1 {
    --fs: var(--ms0);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    /* line-height: calc(var(--root-baseline) * var(--baseline-multiplier, 8) / var(--fs)); */
}

h2 {
    --fs: var(--ms0);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
}

h3 {
    --fs: var(--ms0);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    font-family: var(--global-font-family-beta);
    font-weight: normal;
}


h4 {
    --fs: var(--ms0);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
}


ul li::marker {
    color: var(--global-accent-color);
}

strong {
    font-weight: var(--global-font-weight-title);
}

/*
    Flow Content
    ============
*/

.flow>*+* {
    margin-top: var(--global-whitespace);
}

.flow-s>*+* {
    margin-top: var(--global-whitespace-s);
}

.flow-xs>*+* {
    margin-top: var(--global-whitespace-xs);
}

.flow-2xs>*+* {
    margin-top: var(--global-whitespace-2xs);
}

.flow>*+.demo,
.flow>.demo+*,
/* .flow>*+.note,
.flow>.note+*, */
.flow>astro-island+*,
.flow>pre[class*="language-"]+*,
.flow>*+pre[class*="language-"] {
    margin-top: calc(var(--global-whitespace) + var(--global-whitespace-3xs));
}

.flow>*+h2,
.flow>pre[class*="language-"]+h2,
.flow>.demo+h2,
.flow>.note+h2,
.flow>*+.note,
.flow>.note+* {
    margin-top: calc(var(--global-whitespace) + var(--global-whitespace));
}

.flow>*:has(+style),
.flow>*:has(+astro-island) {
    margin-bottom: calc(var(--global-whitespace) + var(--global-whitespace-2xs));
}

/*
Objects
=======
*/

.row {
    position: relative;
    display: flow-root;
    padding: 0 var(--global-whitespace);
}

.row+.row {
    margin-top: calc(var(--global-whitespace-4xl));
}

.container {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
}

.list-reset {
    list-style: none;
    padding: 0;
}

.link-meta {
    --link-color: var(--global-meta-color);
    text-decoration: none;

    &:hover {
        color: var(--global-muted-color);
    }
}

.link-icon {
    display: block;
    max-width: max-content;
}

/*
    Components
    ==========
*/

.icon {
    width: var(--global-icon-size);
    height: var(--global-icon-size);
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: var(--global-icon-stroke);
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row-reverse;
    gap: 0 var(--global-whitespace);
    margin: var(--global-whitespace-4xl) 0;
    scroll-margin: var(--global-whitespace-4xl);

    &:hover .page-header__avatar {
        /* transform: translateY(var(--global-whitespace-3xs)); */
        translate: 0 var(--global-whitespace-3xs);
    }
}

.page-header--inline {

    & .page-header__title,
    & .page-header__meta {
        display: inline;
    }

    & .page-header__content {
        max-width: 40ch;
    }
}

.page-header__link {
    position: relative;
    display: block;
    flex-shrink: 0;
    width: var(--global-whitespace-xl);
    height: calc(var(--global-whitespace-xl) + var(--global-whitespace-xs));
    margin-top: calc(var(--global-whitespace-xs) * -1);
    border-radius: 0 0 var(--global-whitespace-xl) var(--global-whitespace-xl);
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: var(--global-whitespace-xl);
        height: var(--global-whitespace-xl);
        border-radius: 100%;
        /* background-color: var(--global-color-teal-50); */
        /* background-color: var(--global-color-violet-100); */
        /* background-color: var(--global-color-violet-50); */
        /* background-color: var(--global-foregroundColor); */
        /* background-color: var(--global-foregroundColor2); */
        /* background-color: var(--global-color-neutral-050); */
        /* background-color: var(--global-color-neutral-030); */
        background-color: var(--global-color-neutral-035);
        /* background-color: var(--global-color-neutral-040); */
        /* box-shadow: inset 0 0 0 1px var(--global-borderColor); */
        /* animation: colors 10s alternate linear infinite; */
    }
}

@keyframes colors {
    0% {
        background-color: var(--global-color-purple-100);
    }

    50% {
        background-color: var(--global-color-blue-100);
    }

    100% {
        background-color: var(--global-color-teal-100);
    }
}

.page-header__avatar {
    position: absolute;
    bottom: 0;
    translate: 0 var(--global-whitespace-xs);
    transition: translate .25s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.page-footer {
    /* --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 4); */
    color: var(--global-meta-color);
    margin-bottom: var(--global-whitespace);
}

.demo {
    --demo-whitespace: var(--global-whitespace);
    border-radius: var(--global-borderRadius-lg);
    background-color: var(--global-foregroundColor);
    color: var(--global-text-color);
    overflow: hidden;
}

.demo__title {
    --fs: var(--ms0);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    color: var(--global-muted-color);
    font-weight: normal;
}

.demo__header {
    padding: var(--demo-whitespace) var(--demo-whitespace) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demo__body {
    padding: var(--demo-whitespace);
}

.custom-select {
    --custom-select-extra-whitespace: var(--global-whitespace-xs);
    display: grid;
}

.custom-select__select,
.custom-select__down {
    grid-row: 1;
    grid-column: -1;
}

.custom-select__select {
    padding-right: calc(var(--custom-select-extra-whitespace) * 3);
}

.custom-select__down {
    align-self: center;
    justify-self: flex-end;
    pointer-events: none;
    margin-right: var(--custom-select-extra-whitespace);
}

.badge {
    --fs: var(--ms-2);
    --link-color: var(--global-muted-color);
    display: inline-block;
    border-radius: var(--global-borderRadius);
    padding: var(--global-whitespace-3xs) var(--global-whitespace-2xs);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 4);
    font-family: var(--global-font-family-alpha);
    font-weight: normal;
    background-color: var(--global-input-backgroundColor);
    text-decoration: none;
}

/*
Utilities
=========
*/

.color-meta {
    color: var(--global-meta-color);

    & a:any-link {
        --link-color: var(--global-meta-color);
        --link-underline-color: var(--global-meta-color);
    }
}

.color-border {
    color: var(--global-borderColor);
}

.color-muted {
    color: var(--global-muted-color);
}

.mt-clear {
    margin-top: 0;
}

.mb-clear {
    margin-bottom: 0;
}

.mb-xs {
    margin-bottom: var(--global-whitespace-xs);
}

.mb-2xs {
    margin-bottom: var(--global-whitespace-2xs);
}

.mb-3xs {
    margin-bottom: var(--global-whitespace-3xs);
}

.mb-4xs {
    margin-bottom: var(--global-whitespace-4xs);
}

.mb-s {
    margin-bottom: var(--global-whitespace-s);
}

.mb-base {
    margin-bottom: var(--global-whitespace);
}

.mb-m {
    margin-bottom: var(--global-whitespace-m);
}

.mb-l {
    margin-bottom: var(--global-whitespace-l);
}

.mb-xl {
    margin-bottom: var(--global-whitespace-xl);
}

.pt-clear {
    padding-top: 0;
}

.pb-clear {
    padding-bottom: 0;
}

.max-width-md {
    max-width: 36em;
}

.text-center {
    text-align: center;
}

.text-num {
    font-feature-settings: "tnum";
}

.text-code {
    font-family: var(--global-font-family-code);
}

.text-date {
    font-family: var(--global-font-family-beta);
    font-style: italic;
}

.text-s {
    --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
}

.text-xs {
    --fs: var(--ms-2);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
}

.fw-normal {
    font-weight: normal;
}

.fw-medium {
    font-weight: 500;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-4xs {
    gap: var(--global-whitespace-4xs);
}

.gap-3xs {
    gap: var(--global-whitespace-3xs);
}

.gap-2xs {
    gap: var(--global-whitespace-2xs);
}

.gap-xs {
    gap: var(--global-whitespace-xs);
}

.gap-s {
    gap: var(--global-whitespace-s);
}

.gap {
    gap: var(--global-whitespace);
}

.gap-m {
    gap: var(--global-whitespace-m);
}

.gap-l {
    gap: var(--global-whitespace-l);
}

.gap-xl {
    gap: var(--global-whitespace-xl);
}

.shrink-0 {
    flex-shrink: 0;
}

.grow-1 {
    flex-grow: 1;
}


/**
 * Based on atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 */

code[class*="language-"],
pre[class*="language-"] {
    --fs: var(--ms-1);
    --pre-whitespace: var(--global-whitespace);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
    border-radius: var(--global-borderRadius-lg);
    position: relative;
}

pre[class*="language-css"] code {
    color: var(--language-css-color, var(--global-color-violet-500));
}

pre[class*="language-"] code {
    width: 100%;
    overflow: auto;
    display: block;
    padding: var(--pre-whitespace);
    overflow: auto;
    background-color: transparent;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: var(--global-code-background);
}

.token.output {
    padding: .1em .3em;
    border-radius: var(--global-borderRadius-sm);
    color: white;
    background-color: var(--global-accent-color);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--global-meta-color);
}

.token.value {
    color: var(--token-value-color, var(--global-color-violet-500));
}

.token.punctuation {
    color: var(--token-punctation-color, var(--global-color-neutral-700));
}

.token.property {
    color: var(--token-property-color, var(--global-color-neutral-700));
}

.namespace {
    opacity: .7;
}

.token.operator,
.token.rule,
.token.keyword,
.token.tag {
    color: var(--token-operator-color, var(--global-color-cyan-500));
}

.token.constant,
.token.attr-name,
.token.string,
.token.parameter,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--token-constant-color, var(--global-color-indigo-500));
}

.token.entity {
    cursor: help;
}

.token.literal-property,
.token.selector {
    color: var(--token-selector-color, var(--global-color-purple-500));
}

.token.boolean {
    color: var(--token-boolean-color, var(--global-color-blue-500));
}

.token.class-name,
.token.function {
    color: var(--token-function-color, var(--global-color-blue-500));
}

.token.italic {
    font-style: italic;
}

pre[class*=language-]:after {
    font-family: var(--global-font-family-code);
    position: absolute;
    top: var(--global-whitespace-2xs);
    right: var(--global-whitespace-xs);
    /* padding: var(--global-whitespace-5xs) var(--global-whitespace-3xs); */
    color: var(--global-meta-color);
    line-height: calc(var(--global-baseline) * 4);
    border-radius: var(--global-borderRadius);
}

pre[class*=language-][class*=language-javascript]:after {
    content: "JS";
}

pre[class*=language-][class*=language-css]:after {
    content: "CSS";
}

@media (prefers-color-scheme: dark) {
    body {
        --token-punctation-color: var(--global-color-neutral-100);
        --token-selector-color: var(--global-color-purple-400);
        --language-css-color: var(--global-color-violet-400);
        --token-value-color: var(--global-color-violet-400);
        --token-constant-color: var(--global-color-indigo-400);
        --token-operator-color: var(--global-color-cyan-400);
        --token-function-color: var(--global-color-blue-400);
        --token-property-color: var(--global-color-neutral-100);
        --token-punctation-color: var(--global-color-neutral-100);
    }
}

/* @container container (min-width: calc(100vw - 3.3rem)) {

    .demo,
    pre[class*=language-],
    .note {
        border-radius: 0;
    }
} */