/*
Fonts
=====
*/
@font-face {
    font-family: 'IA Writer Duo Web';
    src: url('../fonts/iAWriterDuoS-Regular.woff') format('woff'),
        url('../fonts/iAWriterDuoS-Regular.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Web';
    src: url('../fonts/Graphik-Regular-Web.woff') format('woff'),
        url('../fonts/Graphik-Regular-Web.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Graphik Web';
    src: url('../fonts/Graphik-Semibold-Web.woff') format('woff'),
        url('../fonts/Graphik-Semibold-Web.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadlineWeb-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposTextWeb-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*
Variables
=========
*/

:root {
    --global-color-pink-hue: 320deg;
    --global-color-pink-50: hsl(var(--global-color-pink-hue), 55%, 97.5%);
    --global-color-pink-100: hsl(var(--global-color-pink-hue), 55%, 95.5%);
    --global-color-pink-200: hsl(var(--global-color-pink-hue), 65%, 90%);
    --global-color-pink-300: hsl(var(--global-color-pink-hue), 70%, 82%);
    --global-color-pink-400: hsl(var(--global-color-pink-hue), 70%, 70%);
    --global-color-pink-500: hsl(var(--global-color-pink-hue), 70%, 60%);
    --global-color-pink-600: hsl(var(--global-color-pink-hue), 70%, 52%);
    --global-color-pink-700: hsl(var(--global-color-pink-hue), 70%, 42%);
    --global-color-pink-800: hsl(var(--global-color-pink-hue), 70%, 35%);
    --global-color-pink-900: hsl(var(--global-color-pink-hue), 65%, 30%);

    --global-color-purple-hue: 260deg;
    --global-color-purple-50: hsl(var(--global-color-purple-hue), 55%, 97.5%);
    --global-color-purple-100: hsl(var(--global-color-purple-hue), 55%, 96%);
    --global-color-purple-200: hsl(var(--global-color-purple-hue), 65%, 91%);
    --global-color-purple-300: hsl(var(--global-color-purple-hue), 85%, 84%);
    --global-color-purple-400: hsl(var(--global-color-purple-hue), 80%, 74%);
    --global-color-purple-500: hsl(var(--global-color-purple-hue), 70%, 65%);
    --global-color-purple-600: hsl(var(--global-color-purple-hue), 70%, 60%);
    --global-color-purple-700: hsl(var(--global-color-purple-hue), 70%, 54%);
    --global-color-purple-800: hsl(var(--global-color-purple-hue), 65%, 46%);
    --global-color-purple-900: hsl(var(--global-color-purple-hue), 65%, 40%);

    --global-color-violet-hue: 240deg;
    --global-color-violet-50: hsl(var(--global-color-violet-hue), 55%, 97.5%);
    --global-color-violet-100: hsl(var(--global-color-violet-hue), 55%, 96%);
    --global-color-violet-200: hsl(var(--global-color-violet-hue), 65%, 91%);
    --global-color-violet-300: hsl(var(--global-color-violet-hue), 100%, 85.5%);
    --global-color-violet-400: hsl(var(--global-color-violet-hue), 90%, 74.5%);
    --global-color-violet-500: hsl(var(--global-color-violet-hue), 85%, 68%);
    --global-color-violet-600: hsl(var(--global-color-violet-hue), 70%, 60%);
    --global-color-violet-700: hsl(var(--global-color-violet-hue), 70%, 55%);
    --global-color-violet-800: hsl(var(--global-color-violet-hue), 65%, 49%);
    --global-color-violet-900: hsl(var(--global-color-violet-hue), 65%, 25%);

    --global-color-indigo-hue: 220;
    --global-color-indigo-50: hsl(var(--global-color-indigo-hue), 55%, 97.5%);
    --global-color-indigo-100: hsl(var(--global-color-indigo-hue), 55%, 95.5%);
    --global-color-indigo-200: hsl(var(--global-color-indigo-hue), 65%, 90%);
    --global-color-indigo-300: hsl(var(--global-color-indigo-hue), 100%, 82%);
    --global-color-indigo-400: hsl(var(--global-color-indigo-hue), 100%, 71%);
    --global-color-indigo-500: hsl(var(--global-color-indigo-hue), 100%, 65%);
    --global-color-indigo-600: hsl(var(--global-color-indigo-hue), 75%, 51%);
    --global-color-indigo-700: hsl(var(--global-color-indigo-hue), 65%, 42%);
    --global-color-indigo-800: hsl(var(--global-color-indigo-hue), 65%, 35%);
    --global-color-indigo-900: hsl(var(--global-color-indigo-hue), 73%, 22%);

    --global-color-blue-hue: 200deg;
    --global-color-blue-50: hsl(var(--global-color-blue-hue), 55%, 97.5%);
    --global-color-blue-100: hsl(var(--global-color-blue-hue), 55%, 94.5%);
    --global-color-blue-200: hsl(var(--global-color-blue-hue), 65%, 87.5%);
    --global-color-blue-300: hsl(var(--global-color-blue-hue), 85%, 74%);
    --global-color-blue-400: hsl(var(--global-color-blue-hue), 85%, 56%);
    --global-color-blue-500: hsl(var(--global-color-blue-hue), 85%, 45%);
    --global-color-blue-600: hsl(var(--global-color-blue-hue), 75%, 35%);
    --global-color-blue-700: hsl(var(--global-color-blue-hue), 75%, 30%);
    --global-color-blue-800: hsl(var(--global-color-blue-hue), 70%, 25%);
    --global-color-blue-900: hsl(var(--global-color-blue-hue), 65%, 20%);

    --global-color-cyan-hue: 180deg;
    --global-color-cyan-50: hsl(var(--global-color-cyan-hue), 55%, 97.5%);
    --global-color-cyan-100: hsl(var(--global-color-cyan-hue), 55%, 94%);
    --global-color-cyan-200: hsl(var(--global-color-cyan-hue), 60%, 83%);
    --global-color-cyan-300: hsl(var(--global-color-cyan-hue), 60%, 60%);
    --global-color-cyan-400: hsl(var(--global-color-cyan-hue), 75%, 42%);
    --global-color-cyan-500: hsl(var(--global-color-cyan-hue), 85%, 34%);
    --global-color-cyan-600: hsl(var(--global-color-cyan-hue), 75%, 27%);
    --global-color-cyan-700: hsl(var(--global-color-cyan-hue), 70%, 23%);
    --global-color-cyan-800: hsl(var(--global-color-cyan-hue), 65%, 20%);
    --global-color-cyan-900: hsl(var(--global-color-cyan-hue), 65%, 15%);

    --global-color-teal-hue: 160deg;
    --global-color-teal-50: hsl(var(--global-color-teal-hue), 55%, 97.5%);
    --global-color-teal-100: hsl(var(--global-color-teal-hue), 55%, 95%);
    --global-color-teal-200: hsl(var(--global-color-teal-hue), 66%, 83%);
    --global-color-teal-300: hsl(var(--global-color-teal-hue), 70%, 60%);
    --global-color-teal-400: hsl(var(--global-color-teal-hue), 70%, 44%);
    --global-color-teal-500: hsl(var(--global-color-teal-hue), 70%, 38%);
    --global-color-teal-600: hsl(var(--global-color-teal-hue), 70%, 27%);
    --global-color-teal-700: hsl(var(--global-color-teal-hue), 70%, 24%);
    --global-color-teal-800: hsl(var(--global-color-teal-hue), 70%, 20%);
    --global-color-teal-900: hsl(var(--global-color-teal-hue), 65%, 15%);

    --global-neutral-hue: var(--global-color-violet-hue);
    --global-neutral-saturation: 5%;

    --global-color-neutral-025: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 98.5%);
    --global-color-neutral-030: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 95%);
    --global-color-neutral-035: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 94%);
    --global-color-neutral-040: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 92%);
    --global-color-neutral-050: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 90%);
    --global-color-neutral-060: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 86.5%);
    --global-color-neutral-075: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 85%);
    --global-color-neutral-100: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 80%);
    --global-color-neutral-200: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 70%);
    --global-color-neutral-300: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 59.75%);
    --global-color-neutral-400: hsl(var(--global-neutral-hue), 7.5%, 50%);
    --global-color-neutral-500: hsl(var(--global-neutral-hue), 10%, 44%);
    --global-color-neutral-550: hsl(var(--global-neutral-hue), 10%, 35%);
    --global-color-neutral-600: hsl(var(--global-neutral-hue), 12.5%, 30%);
    --global-color-neutral-650: hsl(var(--global-neutral-hue), 12.5%, 25%);
    --global-color-neutral-675: hsl(var(--global-neutral-hue), 12.5%, 22.5%);
    --global-color-neutral-700: hsl(var(--global-neutral-hue), 12.5%, 20%);
    --global-color-neutral-800: hsl(var(--global-neutral-hue), 15%, 15%);
    --global-color-neutral-850: hsl(var(--global-neutral-hue), 15%, 12.5%);
    --global-color-neutral-900: hsl(var(--global-neutral-hue), 15%, 10%);

    --global-backgroundColor: white;
    --global-foregroundColor: var(--global-color-neutral-030);
    --global-foregroundColor2: var(--global-color-neutral-050);
    --global-text-color: var(--global-color-neutral-800);
    --global-accent-color: var(--global-color-violet-500);
    --global-title-color: var(--global-color-neutral-900);
    --global-meta-color: var(--global-color-neutral-300);
    --global-muted-color: var(--global-color-neutral-500);
    --global-borderColor: var(--global-color-neutral-060);
    --global-borderColor2: var(--global-color-neutral-075);
    --global-code-color: var(--global-color-neutral-700);
    --global-code-background: var(--global-foregroundColor);
    /* --global-input-backgroundColor: var(--global-color-neutral-040); */
    --global-input-borderColor: var(--global-borderColor);
    /* --global-input-borderColor: var(--global-color-neutral-040); */
    --global-input-backgroundColor: var(--global-color-neutral-040);
    /* --global-input-backgroundColor: var(--global-color-neutral-050); */
    /* --global-input-backgroundColor: var(--global-backgroundColor); */
    /* --global-input-backgroundColor: var(--global-foregroundColor); */

    --global-borderRadius: var(--global-baseline);
    --global-borderRadius-lg: calc(var(--global-borderRadius) * 2);
    --global-borderRadius-sm: calc(var(--global-borderRadius) / 2);

    --global-borderWidth: 1px;
    /* --global-borderWidth: 1px; */

    /* --global-link-color: var(--global-accent-color); */
    --global-link-color: var(--global-text-color);
    --global-link-underline-color: var(--global-link-color);
    /* --global-link-hover-color: var(--global-accent-color); */
    --global-link-hover-color: var(--global-meta-color);
    --global-link-active-color: var(--global-link-color);
    --global-selection-backgroundColor: var(--global-accent-color);
    --global-selection-color: var(--global-color-neutral-025);

    --global-font-family-alpha: "Graphik Web", sans-serif;
    /* --global-font-family-alpha: "Uncut Sans", sans-serif; */
    /* --global-font-family-alpha: "Graphik", sans-serif; */
    /* --global-font-family-alpha: "Haskoy", sans-serif; */
    /* --global-font-family-alpha: "Def Sans", sans-serif; */
    /* --global-font-family-alpha: "Instrument Sans", sans-serif; */
    /* --global-font-family-alpha: "Suisse Int'l Trial", sans-serif; */
    --global-font-family-alpha: "Suisse Int'l", sans-serif;
    /* --global-font-family-alpha: "Aspekta", sans-serif; */
    /* --global-font-family-alpha: "Allrounder Grotesk", sans-serif; */
    /* --global-font-family-title: var(--global-font-family-alpha); */
    --global-font-family-title: "Suisse Works";
    /* --global-font-family-title: "Graphik Compact", sans-serif; */
    /* --global-font-family-title: "Tiempos Headline", serif; */
    /* --global-font-family-title: "Tiempos Text", sans-serif; */
    /* --global-font-family-code: "IA Writer Duo Web", "SFMono-Regular", ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
    /* --global-font-family-code: "JetBrains Mono", "SFMono-Regular", ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
    /* --global-font-family-code: "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
    /* mono font stack */
    --global-font-family-code: "SFMono-Regular", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --global-font-family-code: "Suisse Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --global-font-weight-title: 400;
    --global-font-weight-title: 500;
    /* --global-font-weight-title: 600; */
    /* --global-font-weight-title: 700; */

    --root-font-size: 19;
    --root-baseline: 5;
    --root-line-height: calc(var(--root-baseline) * 6);

    --global-line-height: calc(var(--root-line-height) / var(--root-font-size));
    --global-baseline: calc(var(--root-baseline) / var(--root-font-size) * 1rem);

    --ms-ratio: 1.125;
    --ms-2: calc(var(--ms-1) / var(--ms-ratio));
    --ms-1: calc(var(--ms-0) / var(--ms-ratio));
    --ms-0: var(--root-font-size);
    --ms1: calc(var(--ms-0) * var(--ms-ratio));
    --ms2: calc(var(--ms1) * var(--ms-ratio));
    --ms3: calc(var(--ms2) * var(--ms-ratio));
    --ms4: calc(var(--ms3) * var(--ms-ratio));
    --ms5: calc(var(--ms4) * var(--ms-ratio));
    --ms6: calc(var(--ms5) * var(--ms-ratio));
    --ms7: calc(var(--ms6) * var(--ms-ratio));
    --ms8: calc(var(--ms7) * var(--ms-ratio));

    --global-whitespace-5xs: calc(var(--global-baseline) * .5);
    --global-whitespace-4xs: calc(var(--global-baseline) * 1);
    --global-whitespace-3xs: calc(var(--global-baseline) * 2);
    --global-whitespace-2xs: calc(var(--global-baseline) * 3);
    --global-whitespace-xs: calc(var(--global-baseline) * 4);
    --global-whitespace-s: calc(var(--global-baseline) * 5);
    --global-whitespace: calc(var(--global-baseline) * 6);
    --global-whitespace-m: calc(var(--global-baseline) * 7);
    --global-whitespace-l: calc(var(--global-baseline) * 8);
    --global-whitespace-xl: calc(var(--global-baseline) * 9);
    --global-whitespace-2xl: calc(var(--global-baseline) * 10);
    --global-whitespace-3xl: calc(var(--global-baseline) * 11);
    --global-whitespace-4xl: calc(var(--global-baseline) * 12);

    --global-transition-duration-short: 0.15s;
    --global-transition-duration: 0.3s;
    --global-transition-duration-long: 0.45s;
    --global-transition-duration-longer: 0.6s;

    --global-icon-size: var(--global-whitespace-xs);
    /* --global-icon-stroke: var(--global-borderWidth); */
    --global-icon-stroke: 1.25px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --global-backgroundColor: var(--global-color-neutral-900);
        --global-foregroundColor: var(--global-color-neutral-800);
        --global-foregroundColor2: var(--global-color-neutral-675);
        --global-accent-color: var(--global-color-violet-400);
        --global-text-color: var(--global-color-neutral-050);
        --global-title-color: var(--global-color-neutral-025);
        --global-code-color: var(--global-color-neutral-100);
        --global-borderColor: var(--global-color-neutral-650);
        --global-borderColor2: var(--global-color-neutral-600);
        --global-meta-color: var(--global-color-neutral-400);
        --global-muted-color: var(--global-color-neutral-200);
        --global-input-backgroundColor: var(--global-color-neutral-700);
    }
}

.dark {
    --global-backgroundColor: var(--global-color-neutral-900);
    --global-foregroundColor: var(--global-color-neutral-800);
    --global-text-color: var(--global-color-neutral-050);
    --global-title-color: var(--global-color-neutral-025);
    --global-code-color: var(--global-color-neutral-100);
    --global-borderColor: var(--global-color-neutral-700);
    --global-borderColor2: var(--global-color-neutral-600);
    --global-meta-color: var(--global-color-neutral-400);
    --global-muted-color: var(--global-color-neutral-200);
    --global-input-backgroundColor: var(--global-color-neutral-700);
}

/*
Page
====
*/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    line-height: var(--global-line-height);
    background-color: var(--global-backgroundColor);
    /* font-size: clamp(16px, 0.625vw + 14px, 19px); */
    font-family: var(--global-font-family-alpha);
    /* font-feature-settings: "liga", "dlig", "lnum", "ss05"; */
    /* font-feature-settings: "ss01";
    font-feature-settings: "ss02"; */
    font-feature-settings: "ss03";
    /* font-feature-settings: "ss04";
    font-feature-settings: "ss05"; */
    color: var(--global-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 46.5em) {
    html {
        font-size: calc(var(--root-font-size)/16*100%);
    }
}

/*
@media screen and (min-width: 105.0625em) {
    html {
        font-size: calc(21/16*100%);
    }
} */

body {
    padding: 0 0 var(--global-whitespace) 0;
}

/* @media (min-width: 46.5em) {
    body {
        padding-top: var(--global-whitespace);
    }
} */

::selection {
    --selection-color: var(--global-selection-color);
    --selection-background: var(--global-selection-backgroundColor);
    background-color: var(--global-selection-backgroundColor);
    color: var(--selection-color);
}

a:any-link {
    color: var(--link-color, var(--global-link-color));
    text-decoration-thickness: 1px;
    text-underline-offset: .05em;
    text-decoration-color: var(--link-underline-color, var(--global-link-underline-color));
    transition: all .1s ease;
}

a:hover {
    color: var(--global-link-hover-color);
    text-decoration-color: var(--global-link-hover-underline-color);
}

a:focus-visible {
    outline: 1px solid var(--global-accent-color);
    outline-offset: .2em;
    border-radius: 1px;
    text-decoration: none;
}

hr {
    height: 1px;
    color: inherit;
    margin: calc(var(--global-whitespace) * 2) 0;
    border: 0;
    background-color: var(--global-borderColor);
}

label {
    --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
    display: block;
    padding-bottom: var(--global-whitespace-4xs);
}

input,
select,
textarea {
    display: block;
    width: 100%;
}

input,
select {
    --input-color: var(--global-text-color);
    --input-borderColor: var(--global-input-borderColor);
    --input-backgroundColor: var(--global-input-backgroundColor);
    --input-fontSize: 17;
    --input-borderRadius: var(--global-borderRadius);
    --input-whitespace: var(--global-whitespace-3xs) var(--global-whitespace-2xs);
    font-family: inherit;
    font-size: calc(var(--input-fontSize) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
    padding: var(--input-whitespace);
    border: 1px solid var(--input-borderColor);
    background-color: var(--input-backgroundColor);
    color: var(--input-color);
    border-radius: var(--input-borderRadius);
}

input:focus-visible,
select:focus-visible,
button:focus-visible {
    outline: 1px solid var(--global-accent-color);
    outline-offset: 3px;
}

input:focus:not(:focus-visible),
select:focus:not(:focus-visible) {
    outline: none;
}

input:disabled,
select:disabled,
button:disabled {
    opacity: .5;
}

select {
    appearance: none;
}

[data-suffix] {
    display: grid;
    --suffix-color: var(--global-muted-color);
}

[data-suffix] input,
[data-suffix]::after {
    grid-column: 1 / -1;
    grid-row: 1;
}

[data-suffix] input {
    padding-right: var(--global-whitespace-xl);
}

[data-suffix]::after {
    --fs: var(--ms-1);
    content: attr(data-suffix);
    justify-self: end;
    align-self: center;
    color: var(--suffix-color);
    padding-right: var(--global-whitespace-2xs);
    font-family: var(--global-font-family-code);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
}

fieldset {
    border: var(--global-borderWidth) solid var(--global-borderColor);
    border-radius: var(--global-borderRadius);
    padding: var(--global-whitespace-s);
}

legend {
    --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
    padding: 0;
    color: var(--global-muted-color);
    padding: 0 var(--global-whitespace-4xs);
    margin-left: calc(var(--global-whitespace-4xs) * -1);
}

code {
    font-family: var(--global-font-family-code);
}

code:not([class]) {
    background-color: var(--global-code-background);
    color: var(--global-code-color);
    /* padding: var(--global-whitespace-5xs) var(--global-whitespace-3xs) var(--global-whitespace-4xs); */
    padding: .2em .5em .3em;
    --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    border-radius: var(--global-borderRadius-sm);
}

input[type=number] {
    font-family: var(--global-font-family-code);
    --input-fontSize: 16;
}

input[type=range] {
    margin: var(--global-whitespace-3xs) 0;
    padding: 0;
    width: 100%;
    border: 0;
    --range-borderWidth: var(--global-borderWidth);
    --range-track-height: 1px;
    --range-track-borderRadius: var(--range-track-height);
    --range-track-backgroundColor: var(--global-borderColor2);
    /* --range-track-backgroundColor: var(--global-input-backgroundColor); */
    --range-thumb-height: var(--global-whitespace-xs);
    --range-thumb-width: var(--range-thumb-height);
    --range-thumb-borderRadius: 50%;
    /* --range-thumb-borderColor: var(--global-borderColor); */
    --range-thumb-borderColor: var(--global-borderColor2);
    /* --range-thumb-borderColor: white; */
    --range-thumb-borderWidth: var(--range-borderWidth);
    /* --range-thumb-backgroundColor: var(--global-foregroundColor); */
    --range-thumb-backgroundColor: var(--global-backgroundColor);
    /* --range-thumb-boxShadow: 0 0 0 1px hsl(0deg 0% 0% / 0.1), 0 1px 3px 0 hsl(0deg 0% 0% / 0.2); */
    /* --range-thumb-boxShadow: 0 1px 3px rgb(0 0 0 / 20%), 0 1px 3px rgb(0 0 0 / 20%); */
    --range-thumb-boxShadow: 0 1px 1px 0 var(--global-borderColor);
    --range-thumb-pointer: ew-resize;
    --range-focus-color: var(--global-accent-color);
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--range-track-height);
    cursor: pointer;
    background: var(--range-track-backgroundColor);
    border-radius: var(--range-track-borderRadius);
}

input[type=range]::-webkit-slider-thumb {
    border: var(--range-thumb-borderWidth) solid var(--range-thumb-borderColor);
    height: var(--range-thumb-height);
    width: var(--range-thumb-width);
    border-radius: var(--range-thumb-borderRadius);
    background: var(--range-thumb-backgroundColor);
    cursor: var(--range-thumb-pointer);
    -webkit-appearance: none;
    margin-top: calc(var(--range-thumb-height) * -.5 + var(--range-thumb-borderWidth) / 2);
    box-shadow: var(--range-thumb-boxShadow);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: var(--range-track-height);
    cursor: var(--range-thumb-pointer);
    background: var(--range-track-backgroundColor);
    border-radius: var(--range-track-borderRadius);
}

input[type=range]::-moz-range-thumb {
    border: var(--range-thumb-borderWidth) solid var(--range-thumb-borderColor);
    height: var(--range-thumb-height);
    width: var(--range-thumb-width);
    border-radius: var(--range-thumb-borderRadius);
    background: var(--range-thumb-backgroundColor);
    cursor: var(--range-thumb-pointer);
    box-shadow: var(--range-thumb-boxShadow);
}

input[type=range]::-ms-track {
    width: 100%;
    height: var(--range-track-height);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: var(--range-track-borderRadius);
}

input[type=range]::-ms-fill-lower {
    background: var(--range-track-backgroundColor);
}

input[type=range]::-ms-fill-upper {
    background: var(--range-track-backgroundColor);
}

input[type=range]::-ms-thumb {
    margin-top: calc(var(--range-thumb-height) * -.5 + var(--range-thumb-borderWidth) / 2);
    border: var(--range-thumb-borderWidth) solid var(--range-thumb-borderColor);
    height: var(--range-thumb-height);
    width: var(--range-thumb-width);
    border-radius: var(--range-thumb-borderRadius);
    background: var(--range-thumb-backgroundColor);
    cursor: pointer;
    box-shadow: var(--range-thumb-boxShadow);
}

input[type=range]:focus-visible {
    --range-track-backgroundColor: var(--global-accent-color);
    --range-thumb-borderColor: var(--global-accent-color);
}

@media (prefers-color-scheme: dark) {
    input[type=range] {
        --range-thumb-borderColor: white;
    }

    input[type=range]:focus-visible {
        --range-thumb-borderColor: white;
    }
}

/* input.range--resize {
    --range-thumb-width: calc(var(--range-thumb-height) / 2);
    --range-thumb-borderRadius: var(--global-borderRadius-sm);
    --range-thumb-pointer: ew-resize;
} */

/*
Images
======
*/

img,
svg {
    max-width: 100%;
    display: block;
}

/*
Typography
==========
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--global-title-color);
}

h1 {
    /* --fs: var(--ms5); */
    /* --fs: var(--ms3); */
    --fs: var(--ms4);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--root-baseline) * var(--baseline-multiplier, 8) / var(--fs));
    font-family: var(--global-font-family-title);
    font-weight: var(--global-font-weight-title);
}

/* @media (min-width: 46.5em) {
    h1 {
        --fs: var(--ms6);
        font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
        line-height: calc(var(--root-baseline) * var(--baseline-multiplier, 10) / var(--fs));
    }
} */

/*
@media (min-width: 46.5em) {
    h1 {
        --fs: var(--ms8);
        font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
        line-height: calc(var(--root-baseline) * var(--baseline-multiplier, 10) / var(--fs));
    }
} */



h2 {
    /* --fs: 25; */
    --fs: var(--ms2);
    font-family: var(--global-font-family-title);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--root-baseline) * 7 / var(--fs));
    font-weight: var(--global-font-weight-title);
}

h3 {
    font-family: var(--global-font-family-title);
    font-family: var(--global-font-family-alpha);
    font-size: 1rem;
    line-height: calc(var(--global-baseline) * 6);
    font-weight: var(--global-font-weight-title);
    font-weight: 600;
}


h4 {
    --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--root-baseline) * 6 / var(--fs));
    font-weight: var(--global-font-weight-title);
    text-transform: uppercase;
}


ul li::marker {
    color: var(--global-accent-color);
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.button-reset {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    border-radius: var(--global-borderRadius-sm);

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
Flow Content
============
*/

.flow>*+* {
    margin-top: var(--global-whitespace);
}

.flow-s>*+* {
    margin-top: var(--global-whitespace-s);
}

.flow-xs>*+* {
    margin-top: var(--global-whitespace-xs);
}

.flow-2xs>*+* {
    margin-top: var(--global-whitespace-2xs);
}

.flow>*+.demo,
.flow>.demo+*,
.flow>*+.note,
.flow>.note+*,
.flow>astro-island+*,
.flow>pre[class*="language-"]+*,
.flow>*+pre[class*="language-"] {
    margin-top: calc(var(--global-whitespace) + var(--global-whitespace-4xs));
}

.flow>*+h2,
.flow>pre[class*="language-"]+h2,
.flow>.demo+h2,
.flow>.note+h2 {
    margin-top: calc(var(--global-whitespace) + var(--global-whitespace));
}

.flow>*:has(+style),
.flow>*:has(+astro-island) {
    margin-bottom: calc(var(--global-whitespace) + var(--global-whitespace-3xs));
}

.content {
    /* font-feature-settings: "calt"; */
    font-feature-settings: "ss02";
}

/*
Objects
=======
*/

.row {
    position: relative;
    display: flow-root;
    padding: 0 var(--global-whitespace);
}

.row+.row {
    margin-top: calc(var(--global-whitespace-4xl) * 2);
}

.row--page-header {
    --row-page-header-background-color: hsla(var(--global-neutral-hue), var(--row-page-header-background-color-saturation, var(--global-neutral-saturation)), var(--row-page-header-background-color-lightness, 100%), var(--row-page-header-background-color-opacity, .9));
    --row-page-header-border-color: hsla(var(--global-neutral-hue), var(--global-neutral-saturation), var(--row-page-header-border-color-lightness, 10%), var(--row-page-header-border-color-opacity, .1));
    /* position: sticky; */
    top: 0;
    z-index: 1;
    background-color: var(--row-page-header-background-color);
    backdrop-filter: blur(5px);
    padding: var(--global-whitespace);
    will-change: background-color;
    transition: background-color .1s ease;
    margin-bottom: calc(var(--global-baseline) * 1);
}

.row--page-header::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--row-page-header-border-color);
    opacity: 0;
    transition: opacity .1s ease;
}

/*
:root:has(.page-header-observer-collides) .row--page-header {
    --row-page-header-background-color-opacity: .9;
} */

:root:has(.page-header-observer-collides) .row--page-header::after {
    opacity: 1;
}

/* .row--page-footer {
    padding-top: calc(var(--global-whitespace-4xl) * 2);
} */

@media (prefers-color-scheme: dark) {
    .row--page-header {
        --row-page-header-background-color-saturation: 15%;
        --row-page-header-background-color-lightness: 10%;
        --row-page-header-border-color-lightness: 95%;
    }
}

.container {
    /* max-width: 40rem; */
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    /* container: container / inline-size; */
}

.list-reset {
    list-style: none;
    padding: 0;
}

/*
Components
==========
*/

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    display: none;
}

.icon {
    width: var(--global-icon-size);
    height: var(--global-icon-size);
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: var(--global-icon-stroke);
}

/* .background {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.background::before {
    --color: var(--global-meta-color);
    content: attr(data-title);
    position: relative;
    top: calc(var(--global-whitespace) * 3);
    opacity: .5;
    font-size: calc(480 / var(--root-font-size) * 1rem);
    line-height: 100%;
    font-weight: var(--global-font-weight-title);
    font-family: var(--global-font-family-title);
    color: var(--color);
    background-image: radial-gradient(var(--color) 15%, transparent 16%);
    background-size: 10px 10px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: url(#noise2);
    white-space: nowrap;
    text-align: center;
} */

@property --pattern-seed {
    syntax: "<number>";
    initial-value: 123456;
    inherits: true;
}

@property --pattern-background {
    syntax: "<color>";
    inherits: false;
    initial-value: #141b3d;
}

@property --pattern-colors {
    syntax: "<color>#";
    initial-value: #e9edeb, #66aac6, #e63890;
    inherits: true;
}

.article-header {
    display: grid;
    /* place-items: center; */
    /* text-align: center; */
    /* place-items: end; */
    align-items: end;
    position: relative;
    min-height: calc(50vh - var(--global-whitespace) * 6);
    /* min-height: 50vh; */
    /* margin: calc(var(--global-whitespace-4xl) * 2) 0 var(--global-whitespace-4xl) 0; */
    margin: var(--global-whitespace-4xl) 0 var(--global-whitespace-4xl) 0;
    /* margin: var(--global-whitespace-4xl) 0; */
    /* padding: var(--global-whitespace); */
    border-radius: var(--global-borderRadius-lg);
    /* margin-bottom: var(--global-whitespace-4xl); */
    /* overflow: hidden; */
    /* background-color: var(--article-header-backgroundColor);
    color: var(--article-header-color); */
    /* background-image:
        radial-gradient(circle closest-side at 100px 150px, white, white),
        linear-gradient(45deg, var(--global-color-violet-500) 0%, var(--global-color-violet-600) 100%),
    ; */
    /* background-image:
        radial-gradient(circle 50vh at top left, var(--global-color-violet-600) 100%, transparent 0),
        radial-gradient(circle 25vh at bottom right, var(--global-color-violet-600) 100%, transparent 0),
        linear-gradient(0deg, var(--global-color-violet-600) 0%, var(--global-color-violet-500) 100%); */
    --article-header-color: var(--global-backgroundColor);
    --article-header-backgroundColor: var(--global-color-violet-500);

    /* --article-header-color: var(--global-color-violet-900); */
    /* --article-header-color: var(--global-color-violet-100); */

    /* background-image: paint(fleck);
    --article-header-backgroundColor: var(--global-color-violet-500);
    --fleck-color-1: var(--global-color-violet-600);
    --fleck-color-2: var(--global-color-violet-400);
    --fleck-color-3: var(--global-color-violet-700);
    --fleck-seed: var(--seed);
    --fleck-count: 200;
    --fleck-size-base: 3px; */

    /* background-image: paint(corners-gradient, deeppink, cyan, orangered, yellow); */

    /* background-image: paint(powdered-gradient);
    --powdered-gradient-direction: to-top;
    --powdered-gradient-color: var(--global-color-violet-600);
    --powdered-gradient-size: 5; */

    /* background-image: paint(static-gradient);
    --static-gradient-direction: to-right;
    --static-gradient-color: var(--global-color-violet-600);
    --static-gradient-size: 10; */

    /* --article-header-backgroundColor: var(--global-color-violet-500); */
    /* background-image: paint(placeholder-box);
    --fill: var(--global-color-violet-600);
    --stroke-color: var(--global-color-violet-700);
    --stroke-color-2: var(--global-color-violet-800);
    --stroke-color-3: var(--global-color-violet-600);
    --cols: 20;
    --rows: 20;
    --theta: .1;
    --line-lenght: 20;
    --stroke-width: 2; */


    /* background-image: paint(curves);
    --lines: 5;
    --seed: var(--articleSeed);
    --article-header-backgroundColor: var(--global-color-violet-700);
    --gradient-stop-1: var(--global-color-violet-500);
    --gradient-stop-2: var(--article-header-backgroundColor); */
    /* --article-header-backgroundColor: var(--global-color-violet-600);
    --gradient-stop-1: var(--global-color-indigo-400); */
    /* --article-header-backgroundColor: var(--global-color-indigo-700);
    --gradient-stop-1: var(--global-color-indigo-500); */
    /* --article-header-backgroundColor: tomato;
    --gradient-stop-1: gold; */
    /* --article-header-backgroundColor: darkslateblue;
    --gradient-stop-1: slateblue; */
    /* --article-header-backgroundColor: LightSeaGreen;
    --gradient-stop-1: turquoise; */
    /* --article-header-backgroundColor: var(--global-color-blue-600);
    --gradient-stop-1: var(--global-color-cyan-400); */
    /* --article-header-backgroundColor: var(--global-color-violet-700);
    --gradient-stop-1: var(--global-color-indigo-500); */

    /* background-image: paint(curves2);
    --lines: 5;
    --seed: var(--articleSeed);
    --article-header-backgroundColor: var(--global-color-violet-500);
    --article-header-color: var(--global-color-violet-900);
    --stroke-color: var(--global-color-violet-600); */

    /* background-image: paint(voronoiPattern);
    --pattern-seed: var(--articleSeed);
    --pattern-background: var(--article-header-backgroundColor);
    --pattern-colors: var(--global-color-violet-400), var(--global-color-violet-700), var(--global-color-violet-600); */


}

@media (prefers-color-scheme: dark) {
    .article-header {
        --article-header-color: var(--global-color-violet-900);
        /* --article-header-backgroundColor: var(--global-color-violet-700); */
        /* --article-header-backgroundColor: var(--global-color-neutral-800); */
        /* --gradient-stop-1: var(--global-color-violet-600); */
        /* --article-header-color: var(--global-color-violet-900); */
        /* --stroke-color: var(--global-color-violet-600); */
    }
}

.article-header::before {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background-color: var(--article-header-backgroundColor);
    /* background-image: url("https://previews.123rf.com/images/vectora/vectora1504/vectora150400226/38616631-Horizontal-lines-stripes-pattern-or-background-with-wavy-curving-distortion-effect-Bending-warped-li-Stock-Vector.jpg"); */
    background-image: url("https://cdnx.jumpseller.com/pavlovpulus/image/31745776/SORT3D-3357.jpg?1676058867");
    background-size: cover;
    /* background-position: center; */
    background-size: 100%;
    background-blend-mode: soft-light;
    opacity: .15;
    /* opacity: var(--article-header-backgroundOpacity, .125); */
    /* opacity: var(--article-header-backgroundOpacity, 1); */
}

.article-title {
    position: relative;
    text-wrap: pretty;
    max-width: calc(var(--titleWidth, 20) * 1ch);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    /* align-self: end; */
    /* align-self: center; */
    /* justify-self: center;
    text-align: center; */
    /* align-self: end; */
    /* margin: var(--global-whitespace); */
    /* color: var(--article-header-color); */
    transition: all .2s ease;
    transition-property: transform, opacity;
    background-image: paint(headerHighlight);
    /* text-shadow: 0 2px 0 var(--article-header-backgroundColor); */
}

body:has(.title-collides) .article-title {
    transform: translateY(-.1rem);
    opacity: 0;
}

.page-header {
    position: relative;
    display: grid;
    /* gap: var(--global-whitespace); */
    /* grid-template-columns: max-content 1fr; */
    /* grid-template-rows: auto auto; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    /* display: flex;
    align-items: center; */
    /* text-align: center; */
    gap: 0 var(--global-whitespace-xs);
    border-bottom: 1px solid var(--global-borderColor);
    padding-bottom: var(--global-whitespace);
    /* margin-bottom: calc(var(--global-baseline) * 1); */
}

/* .page-header::after {
    display: block;
    content: "";
    height: 1px;
    background-color: var(--global-borderColor);
    flex-grow: 1;
    order: 2;
  } */

.page-header__avatar {
    position: relative;
    width: var(--global-whitespace-4xl);
    /* left: calc(var(--global-whitespace-4xl) * -1); */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    /* border: var(--global-borderWidth) solid var(--global-borderColor); */
    grid-column: 1;
    grid-row: 1 / span 2;
    display: none;
}

.page-header .logo {
    /* grid-column: 1;
    grid-row: 1; */
    /* text-align: right; */
    /* --fs: var(--ms-2);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5); */
}

/* .page-header__meta {
    grid-column: 1;
    grid-row: 2
} */

.page-header-observer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

@media (min-width: 41em) {
    .page-header-observer {
        top: var(--global-whitespace);
    }
}

.page-header__title,
.page-header__date {
    order: 3;
    display: block;
    grid-row: 1;
    grid-column: 2;
    text-align: right;
    transition: all 0.2s ease;
    transition-property: transform, opacity;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* --fs: var(--ms-2);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5); */
}

.page-header__title {
    /* display: none; */
    transform: translateY(100%);
    opacity: 0;
}

body:has(.title-collides) .page-header__title {
    transform: translateY(0);
    opacity: 1;
}

body:has(.title-collides) .page-header__date {
    transform: translateY(-100%);
    opacity: 0;
}

.logo {
    /* --fs: var(--ms-2);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5); */
    font-size: 1rem;
    line-height: calc(var(--global-baseline) * 6);
    font-family: var(--global-font-family-alpha);
    font-weight: normal;
}

.logo__link {
    --link-color: var(--global-text-color);
    text-decoration: none;
}

.logo__link:hover {
    color: var(--global-meta-color);
}

.page-footer {
    color: var(--global-meta-color);
    /* padding-top: var(--global-whitespace); */
    /* border-top: 1px solid var(--global-borderColor); */
    /* --fs: var(--ms-2);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5); */
}

.demo {
    --demo-whitespace: var(--global-whitespace);
    border-radius: var(--global-borderRadius-lg);
    background-color: var(--global-foregroundColor);
    /* border: 1px solid var(--global-borderColor); */
    color: var(--global-text-color);
    overflow: hidden;
}

.demo__title {
    --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
    font-family: var(--global-font-family-alpha);
    font-weight: normal;
    color: var(--global-muted-color);
}

.demo__header {
    padding: var(--demo-whitespace) var(--demo-whitespace) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demo__body {
    padding: var(--demo-whitespace);
}

.custom-select {
    --custom-select-extra-whitespace: var(--global-whitespace-2xs);
    display: grid;
}

.custom-select__select,
.custom-select__down {
    grid-row: 1;
    grid-column: -1;
}

.custom-select__select {
    padding-right: calc(var(--custom-select-extra-whitespace) * 3);
}

.custom-select__down {
    align-self: center;
    justify-self: flex-end;
    pointer-events: none;
    margin-right: var(--custom-select-extra-whitespace);
}

.control-button {
    display: inline-flex;
    background-color: var(--global-input-backgroundColor);
    border-radius: 9999px;
    padding: var(--global-whitespace-5xs) var(--global-whitespace-5xs);
}

.badge {
    display: inline-block;
    border-radius: var(--global-borderRadius);
    padding: var(--global-whitespace-4xs) var(--global-whitespace-3xs);
    --fs: var(--ms-2);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 4);
    font-family: var(--global-font-family-alpha);
    font-weight: normal;
    color: var(--global-muted-color);
    background-color: var(--global-input-backgroundColor);
    text-decoration: none;
}

/*
Utilities
=========
*/

.color-meta {
    color: var(--global-meta-color);

    & a:any-link {
        --link-color: var(--global-meta-color);
        --link-underline-color: var(--global-meta-color);
    }
}

.color-border {
    color: var(--global-borderColor);
}

.color-muted {
    color: var(--global-muted-color);
}

.mt-clear {
    margin-top: 0 !important;
}

.mb-clear {
    margin-bottom: 0;
}

.mb-xs {
    margin-bottom: var(--global-whitespace-xs);
}

.mb-2xs {
    margin-bottom: var(--global-whitespace-2xs);
}

.mb-3xs {
    margin-bottom: var(--global-whitespace-3xs);
}

.mb-4xs {
    margin-bottom: var(--global-whitespace-4xs);
}

.mb-s {
    margin-bottom: var(--global-whitespace-s);
}

.mb-m {
    margin-bottom: var(--global-whitespace-m);
}

.mb-l {
    margin-bottom: var(--global-whitespace-l);
}

.mb-xl {
    margin-bottom: var(--global-whitespace-xl);
}

.pt-clear {
    padding-top: 0;
}

.pb-clear {
    padding-bottom: 0;
}

.max-width-md {
    max-width: 36em;
}

.text-center {
    text-align: center;
}

/* .text-date {
    font-feature-settings: "tnum", "case";
} */

.text-num {
    font-feature-settings: "tnum", "zero";
}

.text-code {
    font-family: var(--global-font-family-code);
}

.text-date {
    font-family: var(--global-font-family-title);
    font-feature-settings: "zero";
    /* font-feature-settings: "tnum", "zero"; */
}

.text-s {
    --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
}

.text-xs {
    --fs: var(--ms-2);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
}

.fw-normal {
    font-weight: normal;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-4xs {
    gap: var(--global-whitespace-4xs);
}

.gap-3xs {
    gap: var(--global-whitespace-3xs);
}

.gap-2xs {
    gap: var(--global-whitespace-2xs);
}

.gap-xs {
    gap: var(--global-whitespace-xs);
}

.gap-s {
    gap: var(--global-whitespace-s);
}

.gap {
    gap: var(--global-whitespace);
}

.gap-m {
    gap: var(--global-whitespace-m);
}

.gap-l {
    gap: var(--global-whitespace-l);
}

.gap-xl {
    gap: var(--global-whitespace-xl);
}

.shrink-0 {
    flex-shrink: 0;
}

.grow-1 {
    flex-grow: 1;
}


/**
 * Based on atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 */

code[class*="language-"],
pre[class*="language-"] {
    --fs: var(--ms-2);
    --pre-whitespace: var(--global-whitespace);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
    border-radius: var(--global-borderRadius-lg);
    position: relative;
}

pre[class*="language-css"] code {
    color: var(--language-css-color, var(--global-color-violet-500));
}

pre[class*="language-"] code {
    width: 100%;
    overflow: auto;
    display: block;
    padding: var(--pre-whitespace);
    overflow: auto;
    background-color: transparent;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: var(--global-code-background);
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    --fs: 18;
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 6);
    font-family: var(--global-font-family-code);
    color: var(--global-code-color);
    background-color: var(--global-code-background);
    padding: 0 var(--global-whitespace-3xs) var(--global-whitespace-5xs);
    border-radius: var(--global-borderRadius-sm);
}

.token.output {
    padding: .1em .3em;
    border-radius: var(--global-borderRadius-sm);
    color: white;
    background-color: var(--global-accent-color);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--global-meta-color);
}

.token.value {
    color: var(--token-value-color, var(--global-color-violet-500));
}

.token.punctuation {
    color: var(--token-punctation-color, var(--global-color-neutral-700));
}

.token.property {
    color: var(--token-property-color, var(--global-color-neutral-700));
}

.namespace {
    opacity: .7;
}

.token.operator,
.token.rule,
.token.keyword,
.token.tag {
    color: var(--token-operator-color, var(--global-color-cyan-500));
}

.token.constant,
.token.attr-name,
.token.string,
.token.parameter,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--token-constant-color, var(--global-color-indigo-500));
}

.token.entity {
    cursor: help;
}

.token.literal-property,
.token.selector {
    color: var(--token-selector-color, var(--global-color-purple-500));
}

.token.boolean {
    color: var(--token-boolean-color, var(--global-color-blue-500));
}

.token.class-name,
.token.function {
    color: var(--token-function-color, var(--global-color-blue-500));
}

.token.italic {
    font-style: italic;
}

pre[class*=language-]:after {
    font-family: var(--global-font-family-code);
    position: absolute;
    top: var(--global-whitespace-4xs);
    right: var(--global-whitespace-4xs);
    padding: 0 var(--global-whitespace-4xs);
    padding: var(--global-whitespace-5xs) var(--global-whitespace-3xs);
    color: var(--global-meta-color);
    line-height: calc(var(--global-baseline) * 5);
    border-radius: var(--global-borderRadius);
}

pre[class*=language-][class*=language-javascript]:after {
    content: "JS";
}

pre[class*=language-][class*=language-css]:after {
    content: "CSS";
}

@media (prefers-color-scheme: dark) {
    body {
        --token-punctation-color: var(--global-color-neutral-100);
        --token-selector-color: var(--global-color-purple-400);
        --language-css-color: var(--global-color-violet-400);
        --token-value-color: var(--global-color-violet-400);
        --token-constant-color: var(--global-color-indigo-400);
        --token-operator-color: var(--global-color-cyan-400);
        --token-function-color: var(--global-color-blue-400);
        --token-property-color: var(--global-color-neutral-100);
        --token-punctation-color: var(--global-color-neutral-100);
    }
}

/* @container container (min-width: calc(100vw - 3.3rem)) {

    .demo,
    pre[class*=language-],
    .note {
        border-radius: 0;
    }
} */