/*
Utilities
=========
*/

.color-meta {
  color: var(--global-meta-color);

  & a:any-link {
    --link-color: var(--global-meta-color);
    --link-underline-color: var(--global-meta-color);
  }
}

.color-border {
  color: var(--global-borderColor);
}

.color-muted {
  color: var(--global-muted-color);
}

.mt-clear {
  margin-top: 0;
}

.mb-clear {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: var(--global-whitespace-3);
}

.mb-2xs {
  margin-bottom: var(--global-whitespace-2);
}

.mb-3xs {
  margin-bottom: var(--global-whitespace-1);
}

.mb-4xs {
  margin-bottom: var(--global-whitespace-0-5);
}

.mb-s {
  margin-bottom: var(--global-whitespace-4);
}

.mb-base {
  margin-bottom: var(--global-whitespace-5);
}

.mb-m {
  margin-bottom: var(--global-whitespace-6);
}

.mb-l {
  margin-bottom: var(--global-whitespace-7-5);
}

.mb-xl {
  margin-bottom: var(--global-whitespace-10);
}

.pt-clear {
  padding-top: 0;
}

.pb-clear {
  padding-bottom: 0;
}

.max-width-md {
  max-width: 36em;
}

.text-italic {
  font-style: italic;
}

.text-num {
  font-feature-settings: "tnum";
}

.text-code {
  font-family: var(--global-font-family-code);
}

.text-sans {
  font-family: var(--global-font-family-alpha);
}

.text-date {
  font-family: var(--global-font-family-alpha);
  /* font-style: italic; */
}

.text-s {
  --fs: var(--ms-1);
  font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
  line-height: calc(var(--global-baseline) * 4.5);
}

.text-xs {
  --fs: var(--ms-2);
  font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
  line-height: calc(var(--global-baseline) * 4);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4xs {
  gap: var(--global-whitespace-0-5);
}

.gap-3xs {
  gap: var(--global-whitespace-1);
}

.gap-2xs {
  gap: var(--global-whitespace-2);
}

.gap-xs {
  gap: var(--global-whitespace-3);
}

.gap-s {
  gap: var(--global-whitespace-4);
}

.gap {
  gap: var(--global-whitespace-5);
}

.gap-m {
  gap: var(--global-whitespace-6);
}

.gap-l {
  gap: var(--global-whitespace-7-5);
}

.gap-xl {
  gap: var(--global-whitespace-10);
}

.shrink-0 {
  flex-shrink: 0;
}

.grow-1 {
  flex-grow: 1;
}
