---
import { formatDate } from "../../config";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
const title = "Colophon";
const upDate = new Date();
---

<BaseLayout>
  <main class="row pt-clear mt-clear">
    <div class="container flow">
      <Header
        headerTitle={title}
        headerMeta={`Last updated <time datetime=${upDate} class='text-date'>${formatDate(
          upDate
        )}</time>`}
      />
      <div class="content flow">
        <!-- <p>Last updated Aug 11, 2023</p> -->
        <h2>Technical details</h2>
        <p>
          Built with Astro. Deployed and hosted on Netlify. Cookie-free and open
          source analytics with Plausible.
        </p>
        <p>Check out the source code on <a href="">Github</a></p>
        <p>
          The source code is available open-source on <a href="">Github</a>
        </p>
        <h2>Typography</h2>
        <h2>Inspiration</h2>
      </div>
    </div>
  </main>
</BaseLayout>
