---
import { SITE_ATHOUR } from "../../config";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";

const title = "Colophon";
const description = "Technical details about this site";

---

<BaseLayout title={title} description={description}>
   <Header
    headerTitle={SITE_ATHOUR}
    headerMeta={title}
    headerType="page"
  />
  <main class="row">
    <div class="container flow">
      <div class="content flow">
        <!-- <p>Last updated Aug 11, 2023</p> -->
        <h2>Technical details</h2>
        <p>
          Designed and coded with VS Code. Staticly Built with <a
            href="https://astro.build/">Astro</a
          >. Deployed and hosted on <a href="https://www.netlify.com/"
            >Netlify</a
          >. Privacy-first, carbon conscious web analytics with <a
            href="https://withcabin.com/">Cabin</a
          >. The source code is available open-source on <a href="">Github</a>
        </p>
        <h2>Typography</h2>
        <p>
          Most of the text on this site is set in <a
            href="https://commercialtype.com/catalog/graphik">Graphik</a
          > regular and medium.
          <!-- designed by Christian Schwartz and released through Commercial Type.  -->
          <a href="https://klim.co.nz/retail-fonts/tiempos-text/"
            >Tiempos Text</a
          > regular italic is used for emphasized text and dates. Both typefaces
          share a similar x-height and cap height. The ascenders and descenders are
          also similar in length. Which is why they work well together.
        </p>
        <p>
          To avoid the additional download of another webfont, code blocks are
          set in the default monospaced font of the user's operating system.
        </p>
        <!-- <div class="demo">
          <div class="demo__body">
            <p class="switch">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
              officiis, animi impedit temporibus ullam dolores dolore? Voluptas
              esse nam ea vero accusamus. Mollitia id doloribus aperiam ea esse
              a quasi!
            </p>
          </div>
        </div> -->
        <h2>Inspiration</h2>
      </div>
    </div>
  </main>
</BaseLayout>
<!-- <style>
  .switch {
    font-family: "Graphik";
    animation: switch 2.5s infinite;
  }

  @keyframes switch {
    0% {
      font-family: "Graphik";
    }
    50% {
      font-family: "Tiempos Text";
    }
    100% {
      font-family: "Graphik";
    }
  }
</style> -->
