/*
Objects
=======
*/

.row {
  width: 100%;
  position: relative;
  display: flow-root;
  padding: 0 var(--global-whitespace-5);
  padding-top: calc(var(--global-whitespace-20));
}

.row .row {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

/*
.row--main {
    padding-top: calc(var(--global-whitespace-5) + var(--global-whitespace-5));
} */

.row .row + .row {
  margin-top: calc(var(--global-whitespace-20));
}

.row--page-footer {
  margin-top: auto;
  padding-bottom: var(--global-whitespace-5);
  /* padding-bottom: var(--global-whitespace-20); */
}

.container {
  max-width: 38rem;
  /* margin-left: auto;
  margin-right: auto; */
  margin-inline: auto;
}

.list-reset {
  list-style: none;
  padding: 0;
}

/*
    Flow Content
    ============
*/

.flow > * + * {
  margin-top: var(--global-whitespace-5);
}

.flow-s > * + * {
  margin-top: var(--global-whitespace-4);
}

.flow-xs > * + * {
  margin-top: var(--global-whitespace-3);
}

.flow-2xs > * + * {
  margin-top: var(--global-whitespace-2);
}

.flow > * + .demo,
.flow > .demo + *,
.flow > astro-island + *,
.flow > .astro-code + *,
.flow > * + .astro-code {
  margin-top: calc(var(--global-whitespace-5) + var(--global-whitespace-2));
}

.flow > * + h2,
.flow > .astro-code + h2,
.flow > .demo + h2,
.flow > .note + h2,
.flow > * + .note,
.flow > .note + *,
.flow > .math + *,
.flow > * + .math {
  margin-top: calc(var(--global-whitespace-5) + var(--global-whitespace-5));
}

.flow > *:has(+ style),
.flow > *:has(+ astro-island) {
  margin-bottom: calc(var(--global-whitespace-5) + var(--global-whitespace-2));
}

.flow > h3 + * {
  margin-top: 0;
}

/* future stuff */
/* 
.flow {
  margin-trim: block;

  @supports not (margin-trim: block) {
    margin-block-start: calc(var(--global-whitespace-5) * -1);
    margin-block-end: calc(var(--global-whitespace-5) * -1);
  }

  > * {
    margin-block: var(--global-whitespace-5);
  }

  > h2 {
    margin-block-start: var(--global-whitespace-10);
  }
} */
