---
import { SITE_ATHOUR, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogposts from "../components/Blogposts.astro";
---

<BaseLayout>
  <div class="row pt-clear mt-clear">
    <div class="container flow">
      <Header headerMeta={SITE_DESCRIPTION} headerTitle={SITE_ATHOUR} />
      <p>
        I'm a designer who likes to code. I'm into responsive web-design, HTML &
        CSS, Javascript, typography and animation. Currently I'm teaching these
        topics at MCT and Devine. Feel free to send me an email. Follow me on
        Codepen or Twitter.
      </p>
    </div>
  </div>
  <section class="row">
    <div class="container flow">
      <Blogposts />
    </div>
  </section>
</BaseLayout>
