---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogposts from "../components/Blogposts.astro";
---

<BaseLayout>
  <p>Test</p>
  <section class="row">
    <div class="container flow">
      <Blogposts />
    </div>
  </section>
</BaseLayout>
