---
import { SITE_ATHOUR, SITE_DESCRIPTION } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Blogposts from "../components/Blogposts.astro";
---

<BaseLayout description={SITE_DESCRIPTION}>
  <Header
    headerMeta={SITE_DESCRIPTION}
    headerTitle={SITE_ATHOUR}
    headerType="homepage"
  />
  <main class="row">
    <div class="container flow">
      <About isHomepage={true} />
    </div>
  </main>
  <section class="row">
    <div class="container flow">
      <Blogposts />
    </div>
  </section>
</BaseLayout>
