---
import { SITE_ATHOUR, SITE_DESCRIPTION } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Blogposts from "../components/Blogposts.astro";
---

<BaseLayout>
  <main class="row pt-clear mt-clear">
    <div class="container flow">
      <Header
        headerClass="normal"
        headerMeta={SITE_DESCRIPTION}
        headerTitle={SITE_ATHOUR}
      />
      <About />
    </div>
  </main>
  <section class="row">
    <div class="container flow">
      <Blogposts />
    </div>
  </section>
</BaseLayout>
