---
const { isHomepage = false } = Astro.props;
---

<p>
  {isHomepage && "Hi, I'm Simon."}
  I'm a designer and frontend developer crafting web interfaces since 2007. These days, I teach design and frontend development at Howest University in Kortrijk, Belgium. On this blog, I share my thoughts and insights on all things web. I also make things on <a href="https://codepen.io/simoncoudeville">Codepen</a> and share thoughts on <a href="https://bsky.app/profile/simoncoudeville.bsky.social">Bluesky</a>.
</p>
