---
import { Image } from "astro:assets";
---

<h2>Hi, I'm Simon</h2>
<p>
  I'm a designer who likes to code. I'm into responsive web-design, HTML & CSS,
  Javascript, typography and animation. Currently I'm teaching these topics at
  MCT and Devine. Feel free to send me an email. Follow me on Codepen or
  Twitter.
</p>
<!-- <div class="about">
  <div>
    <h2 class="mb-base">Hi, I'm Simon</h2>
    <p>
      Hi! I’m Simon. I’m a designer & teacher. This site is dedicated to my
      thoughts and observations about design. Read a bit more <a href="/"
        >about me</a
      >, <a href="#!">email me</a>, or follow me on <a href="">Twitter</a>.
    </p>
    <p>
      I'm a designer who likes to code. I'm into responsive web-design, HTML &
      CSS, Javascript, typography and animation. Currently I'm teaching these
      topics at MCT and Devine. Feel free to send me an email. Follow me on
      Codepen or Twitter.
    </p>
  </div>
  <figure class="avatar">
    <Image
      src="../../src/img/test-avatar-3.png"
      alt="A bird."
      width="521"
      height="616"
    />
  </figure>
</div> -->
