---
const allPosts = (await Astro.glob('../pages/posts/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const { currentTitle } = Astro.props;
---

<ul>
    {
        allPosts.map((post) => (
            <li>
                <a href={post.url} class={currentTitle === post.frontmatter.title ? "active" : ""} >
                    {post.frontmatter.title}
                </a>
                <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric',
                    })}
                </time>
            </li>
        ))
    }
</ul>

<style>
    .active {
        background-color: hotpink;
    }
</style>