---
import formatDate from "../config";

import { getCollection } from "astro:content";
const allPosts = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
const { currentTitle, hideHeading = false } = Astro.props;
const numPosts = allPosts.length;
---

{!hideHeading && <h2>Articles</h2>}
<ol reversed class="list-reset postlist readable flow-xs">
  {
    allPosts.map((post) => (
      <li class="postlist__item">
        <a
          href={`/blog/${post.slug}/`}
          class={
            currentTitle === post.data.title
              ? "postlist__link postlist__link--active"
              : "postlist__link"
          }
        >
          <h3 class="postlist__title">{post.data.title}</h3>
          <time class="postlist__meta text-date" datetime={post.data.pubDate}>
            {formatDate(post.data.pubDate)}
          </time>
        </a>
      </li>
    ))
  }
</ol>
<p>More coming soon&hellip;</p>
