---
import formatDate from "../config";

import { getCollection } from "astro:content";
const allPosts = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
const { currentTitle, hideHeading = false } = Astro.props;
const numPosts = allPosts.length;
---

{!hideHeading && (
  <h2>
    Articles
  </h2>
)}
<ol reversed class="list-reset postlist readable flow-xs">
  {
    allPosts.map((post) => (
      <li class="postlist__item">
        <a
          href={`/blog/${post.slug}/`}
          class={
            currentTitle === post.data.title
              ? "postlist__link postlist__link--active"
              : "postlist__link"
          }
        >
          {post.data.title}
          <time
            class="postlist__date text-date"
            datetime={post.data.pubDate}
          >
            {formatDate(post.data.pubDate)}
          </time>
        </a>
      </li>
    ))
  }
</ol>

<style>
  .postlist {
    --postlist-whitespace: var(--global-whitespace-xs);
    --postlist-inline-whitespace: var(--global-whitespace-s);
  }

  .postlist__link {
    --link-color: var(--global-text-color);
    position: relative;
    display: flex;
    gap: 0 var(--postlist-inline-whitespace);
    font-family: var(--global-font-family-title);
    flex-direction: column;
    text-decoration: none;
    border-radius: var(--global-borderRadius-lg);
  }

  .postlist__date {
    flex-shrink: 0;
    justify-self: flex-end;
    text-decoration: none;
    color: var(--global-meta-color);
  }

  .postlist__item + .postlist__item {
    padding-top: var(--global-whitespace-xs);
  }

  .postlist__link:hover {
    color: var(--global-title-color);
  }

  .postlist__link--active:any-link {
    color: var(--global-meta-color);
  }

  .postlist__link--active::before {
    content: "";
    width: var(--global-whitespace-3xs);
    aspect-ratio: 1 / 1;
    background-color: var(--global-accent-color);
    border-radius: 100%;
    position: absolute;
    left: calc(-1 * var(--global-whitespace-xs));
    top: var(--global-whitespace-2xs)
  }
</style>
