---
const year = new Date().getFullYear();
---

<footer class="row row--page-footer">
  <div class="container">
    <div class="page-footer color-meta">
      <p>
        ©{year} Simon Coudeville
      </p>
    </div>
  </div>
</footer>
