---
import { SITE_ATHOUR } from "../config";
const year = new Date().getFullYear();
import IconUpSmall from "./Icons/IconUpSmall.astro";
---

<footer class="row row--page-footer" transition:animate="fade">
  <div class="container flow">
    <div class="page-footer">
      <ul class="readable list-reset">
        <li>
          &copy;{year}
        </li>
        <li>
          <a class="link-meta" href="/">Home</a>
        </li>
        <li>
          <a class="link-meta" href="/colophon">Colophon</a>
        </li>
        <li>
          <a class="link-meta" href="/feed.xml">RSS</a>
        </li>
      </ul>
      <a class="link-icon link-meta" href="#top">
        <IconUpSmall title="Back to top" />
      </a>

      <!-- Connect
      email
      Codepen
      Github
      posts.cv

      Browse
      Colophon
      RSS feed
      Source


      Colophon
      RSS -->
    </div>
  </div>
</footer>
<style>
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--global-whitespace);
    /* padding: var(--global-whitespace-3xs) var(--global-whitespace-2xs);
    background-color: var(--global-foregroundColor);
    border-radius: var(--global-borderRadius); */
  }

  .link-icon {
    flex-shrink: 0;
    margin-top: calc(var(--global-whitespace-4xs));
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 0 var(--global-whitespace);
  }
</style>
