.demo-text-wrapper {
    height: 15rem;
    display: flex;
    align-items: center;
}

.demo-text {
    /* ellipsis */
    line-height: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* multiline ellipsis */
    /* line-height: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap; */
    font-family: var(--global-font-family-title);
    font-weight: var(--global-font-weight-title);
}

.controls {
    display: grid;
    gap: var(--global-whitespace-xs) var(--global-whitespace);
    grid-template-columns: 1fr auto;
    align-items: center;
}


/* .controls button circle {
    stroke: transparent;
    fill: transparent;
} */

.controls__button {
    width: var(--global-whitespace-s);
    height: var(--global-whitespace-s);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    border-radius: var(--global-borderRadius-sm);
    border-radius: 100%;
    /* background-color: var(--global-foregroundColor); */
    background-color: var(--global-backgroundColor);

    border: 1px solid var(--global-borderColor2);
    /* background-color: var(--global-backgroundColor); */
    /* background-color: var(--global-input-backgroundColor); */
    /* padding: var(--global-whitespace-5xs);
    margin: calc(var(--global-whitespace-5xs) * -1); */
}

.controls__button:hover {
    /* background-color: var(--global-foregroundColor2); */
}

.controls__button:disabled {
    /* background-color: transparent; */
}

.zoom {
    /* display: flex;
    align-items: center;
    height: var(--global-whitespace-m); */
    background-color: var(--global-foregroundColor2);
    /* border: 1px solid var(--global-borderColor2); */
    /* border-radius: var(--global-borderRadius); */
    border-radius: var(--global-whitespace);
    /* padding: 0 var(--global-whitespace-3xs); */
    padding: var(--global-whitespace-4xs) var(--global-whitespace-3xs);
    /* padding: var(--global-whitespace-3xs); */
}

@media (max-width: 32em) {
    .controls__window {
        grid-row: 2;
        grid-column: 1/-1;
    }

    .controls__reset {
        grid-column-end: -1;
    }
}

.viewport {
    --viewport-accent-color: var(--global-accent-color);
    --viewport-gap: 2px;
    --viewport-thumb-size: calc(var(--global-baseline) * 2);
    --window-range: calc(var(--maxww) - var(--minww));
    --breakpoint-range: calc(var(--breakpoint2) - var(--breakpoint1));
    --viewport-leftover: calc(calc(calc(var(--breakpoint1) - var(--minww)) / var(--window-range) * 100%) - var(--viewport-gap) / 2);
    --viewport-breakpoint-1: calc(calc(var(--breakpoint-range) / var(--window-range) * 100%) - var(--viewport-gap));
    --viewport-breakpoint-2: 1fr;
}

.viewport__label {
    margin-bottom: var(--global-whitespace-3xs);
}

.viewport__bar {
    display: grid;
    grid-template-columns: var(--viewport-leftover) var(--viewport-breakpoint-1) var(--viewport-breakpoint-2);
    gap: var(--viewport-gap);
}

.viewport__part {
    /* background-color: var(--global-borderColor2); */
    background-color: var(--global-foregroundColor2);
    border-radius: var(--global-borderRadius);
    padding: 0 var(--global-whitespace-3xs);
    transition: background-color var(--global-transition-duration-short);
    --fs: var(--ms-1);
    font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
    line-height: calc(var(--global-baseline) * 5);
}

.viewport__part.active {
    background-color: var(--viewport-accent-color);
    color: white;
}

.viewport__range {
    position: relative;
}

.viewport__thumb {
    /* --viewport-thumb-position: calc(calc(var(--thumb-position) * 100%) - calc(var(--viewport-thumb-size) / 2)); */
    --viewport-thumb-position: calc(var(--thumb-position) * 100%);
    position: relative;
    top: 2px;
    width: var(--viewport-thumb-size);
    margin-left: calc(var(--viewport-thumb-size) / -2);
    left: var(--viewport-thumb-position);
    /* translate: var(--viewport-thumb-position) 0 0; */
    /* left: 0; */
    /* transform: translateX(var(--viewport-thumb-position)); */
    /* transform: translateX(0); */
    fill: var(--viewport-accent-color);
    /* transition: left var(--global-transition-duration-short); */
    transform: rotate(180deg);
}