---
import DemoLayout from "../../../layouts/DemoLayout.astro";
import "../../../styles/demos/shared/fluid.css"; // Shared CSS for all fluid demos
import { getDemo } from "../../../data/demos";

const { slug, title, description, backLink } = getDemo("fluid-type");
---

<DemoLayout title={title} description={description} backLink={backLink} slug={slug}>
  <div class="container">
    <div class="fluid-text-demo">
      <p class="fluid-text fluid-text--0">
        This has a fluid font size that grows from 20px to 32px between 320px and 960px container width.
      </p>
    </div>
    <div class="fluid-text-demo">
      <p class="fluid-text fluid-text-min-0 fluid-text-max-1">
        This has a fluid font size that grows from 20px to 40px between 320px and 960px container width.
      </p>
    </div>
    <div class="fluid-text-demo">
      <p class="fluid-text fluid-text-min-1 fluid-text-max-1">
        This has a fluid font size that grows from 24px to 40px between 320px and 960px container width.
      </p>
    </div>
  </div>
</DemoLayout>

<script src="../../../scripts/demos/fluid-text-demo.js"></script>
