---
import "../styles/global-variables.css";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import { SITE_ATHOUR } from "../config";

const { title = "", description = "" } = Astro.props;
---

<html lang="en">
  <head>
    <title>
      {title ? `${title} - ${SITE_ATHOUR}` : SITE_ATHOUR}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <slot />
    <Footer />
    <script async defer src="https://scripts.withcabin.com/hello.js"></script>
  </body>
</html>
